[2018-11-14 02:33] BenTheElder opened #15 "document differences vs glog"
Can we put a TLDR somewhere of things we've fixed or improved vs glog? I think it would be helpful for other ecosystem projects.

cc @dims

[2018-11-14 02:33] BenTheElder commented on #15
/kind documentation

[2018-11-14 03:13] dims commented on #15
Added some quick notes in https://github.com/kubernetes/klog/pull/16

[2018-11-14 18:20] neolit123 commented on #15
/close
solved in #16
we can keep the list of options under "how to use".

[2018-11-14 18:20] #15 closed

[2018-11-14 23:44] vincepri opened #18 "Decrease flushInterval or make it configurable"
/kind feature

**Describe the solution you'd like**
The current `flushInterval` is set to 30s, which is a lot higher than usually expected. It's common to [adopt alternative strategies](https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/cmd/logutil.go#L46-L51) to flush more frequently. I'd be great to either decrease the default or make it configurable with a flag.

**Anythi

[2018-11-14 23:48] vincepri opened #19 "Interface based approach"
We should consider offering interfaces for to allow third-party implementations and allow custom sinks. This issue can serve as umbrella for proposals / thoughts.

[2018-11-15 00:07] dims commented on #19
cc @munnerz

[2018-11-15 00:32] munnerz commented on #19
I got started on adding a SetLogger function as a PoC for this after talking with @dims earlier.

The PR is focused around `github.com/go-logr/log`, and behaves similarly to `klog.SetOutput`.

I couldn't work out a way to avoid changing the public facing API for the `Verbose` type however, without creating distinct types for each V level (which would mean we couldn't support arbitrary V levels).

[2018-11-15 22:48] vincepri opened #22 "Child loggers"
/kind feature

**Describe the solution you'd like**
A common use case for loggers is to provide a default context. An example is to prepend some common values to each log line. I've seen other loggers are able to create a child logger of some sort with a predefined set of variables which are used as suffix for each log line.

I'd imagine this approach to have some sort of limitations, for example

[2018-11-17 08:34] BenTheElder opened #23 "update SetOutput example"
`klog.SetOutput` is a bit of a footgun right now, severities above `INFO` will write to the "files" with fallthrough to the lower files, potentially leading to the same line being written as many as 4 times to the same writer.

I think the safest usage of this right now is probably something like:

[code]

This works pretty nicely, but probably need some more documentation. I initially just did:
[

[2018-11-27 11:23] dmage opened #24 "Provide example how to use dep override for glog proxy"
/kind feature

I tried to add to my Godep.toml next lines
[code]
but apparently `dep` ignored the `/glog` suffix and copied entire klog into vendor/github.com/golang/glog. And it looks dep's authors [don't want to have subdirs](https://github.com/golang/dep/issues/860#issuecomment-338983320).

As `dep` is mentioned in the README file, I expect there should be a way to do it, though.

[2018-11-28 23:07] awly opened #25 "Credential redaction or generic output filters"
/kind feature

**Describe the solution you'd like**
The goal is to prevent accidental logging of credentials.
Ideally this would be opt-out output filter for things that look like:
- JWT
- PEM-encoded private key
- bearer tokens

Filter would replace these with something like `--- REDACTED CREDENTIAL ---`.

Alternatively, allow arbitrary pluggable filters, something like:
[code]

**Anything else y

[2018-11-30 15:51] dims opened #26 "Document how to better co-exist with glog"
See details and snippets in:

- https://github.com/kubernetes-sigs/cluster-api/pull/610
- https://github.com/kubernetes/kubernetes/pull/71559

[2018-12-03 19:15] #26 closed

[2018-12-04 18:52] vincepri commented on #22
@dims do you have any thoughts around this? I'm happy to start some work on it if there is some consensus on how to proceed on it and some guidance.

[2018-12-05 01:51] neolit123 commented on #22
isn't this solved by the structured logging proposed by https://github.com/go-logr/logr

[2018-12-05 21:13] vincepri commented on #22
Maybe? I haven't looked at logr yet, although in this proposal the child logger would be instantiated from the `klog` package.

[2018-12-06 20:16] christopherhein opened #28 "Add link to k8s/community logging conventions"
/kind feature

**Describe the solution you'd like**
Update docs to include link to the community logging conventions.

**Anything else you would like to add:**
https://github.com/kubernetes/community/pull/3016

[2018-12-07 18:13] DirectXMan12 commented on #22
This looks very similar to how we use logr in controller-runtime.  You can check out our code ([sigs.k8s.io/controller-runtime/pkg/runtime/log](https://github.com/kubernetes-sigs/controller-runtime/tree/master/pkg/runtime/log)), but the TL;DR is:

logr defines two methods on a `logr.Logger` object (the main interface):

[code]

Then, in the CR package mentioned above, we define

[code]

This enabl

[2018-12-07 18:17] vincepri commented on #22
@DirectXMan12 Thanks for the example, that looks pretty much what I was thinking! Any thoughts on bringing that logic in `klog`?

[2018-12-07 18:22] neolit123 commented on #22
yep, this was pretty much what i meant with.

[2018-12-07 18:23] neolit123 commented on #22
i somehow think this should be on the klog implementer side.
not sure if it should be in core klog. :thinking:

[2018-12-08 03:05] #28 closed

[2018-12-21 19:42] DirectXMan12 commented on #22
I think we need to figure out how klog relates to logr at some point.  One option is that klog implements logr's interfaces, which allows us to keep kube libraries logging-implementation-agnostic (since logr is just an interface).  That's what I lean towards, but that definitely needs broader discussion.

[2018-12-26 18:04] dims commented on #22
@DirectXMan12 who should we loop in for this discussion? (just throw it out on -dev mailing list)?

[2018-12-30 17:49] simonpasquier commented on #23
I'm hitting the same kind of issue as I'm trying to build an adapter that would allow to get `klog` logs to a  `github.com/go-kit/kit` instance. It would be nice if there was an option to avoid the automatic fallthrough mechanism.

[2019-01-02 02:31] wavezhang opened #34 "Support log metric"
/kind feature

**Describe the solution you'd like**
Collect log statistics and expose metric API.
collect information like TAG, log type, log detail, count etc.

**Anything else you would like to add:**

[2019-01-03 18:43] DirectXMan12 commented on #34
not sure klog is the most appropriate place to do this.  Projects should probably be exposing errors separately, especially since not all errors get logged directly.

[2019-01-03 18:46] DirectXMan12 commented on #22
it's probably a -dev or KEP-worth discussion, yeah.

[2019-01-04 02:15] wavezhang commented on #34
the “errors” here refer to use defined loglevel error

[2019-01-14 17:35] dims opened #35 "add a `loglevel` for verbosity"
Request from @soltysh at:
https://github.com/kubernetes/kubernetes/issues/35054#issuecomment-255750857

[code]

[2019-01-14 17:37] iamneha commented on #35
/assign

[2019-01-14 17:39] dims commented on #18
Agreed! here's where we set it to 30 seconds https://github.com/kubernetes/klog/blob/master/klog.go#L939

[2019-01-14 17:41] dims commented on #18
we could use the same flag `log-flush-frequency` from https://github.com/kubernetes-sigs/cluster-api/blob/master/cmd/clusterctl/cmd/logutil.go#L46-L51

[2019-01-14 17:42] iamneha commented on #18
/assign

[2019-01-14 17:58] dims commented on #35
the current logging conventions are here https://github.com/kubernetes/community/blob/master/contributors/devel/logging.md

[2019-01-15 00:20] dims commented on #18
@DirectXMan12 Ack thanks!

[2019-01-17 00:42] DirectXMan12 commented on #34
I'm not entirely clear on what general log metrics would gain.  What information are you trying to get that your log ingestion mechanism doesn't already provide?

[2019-01-25 00:46] dims commented on #24
@dmage as you said, it does not work, so removing it in https://github.com/kubernetes/klog/pull/36

[2019-01-25 02:46] #24 closed

[2019-01-26 16:00] vincepri opened #38 "Make (also)logtostderr default to true"
/kind feature

**Describe the solution you'd like**
I'd like to propose that `logtostderr` or `alsologtostderr` be defaulting to true. It's very common in the k8s community to have `init()` or `main()` functions to hardcode the flag to "true", flipping the default value of either flag should ease the use of this package and remove some initial friction for new users.

**Anything else you would lik

[2019-01-29 22:09] DirectXMan12 commented on #38
:+1: on this -- it's generally surprising for new users not to have this be the case, and as is mentioned, many things default this to `true` anyway (e.g. https://github.com/kubernetes/component-base/blob/master/logs/logs.go#L37, which enables it for anything in k8s.io/kubernetes, and a bunch of other things by accident).

[2019-01-29 23:41] vincepri commented on #38
Opened a PR for this, feel free to put a hold on it if we need further discussion.

[2019-01-29 23:57] #18 closed

[2019-01-31 19:36] #38 closed

[2019-02-11 17:40] filmil opened #43 "Why klog?"
/kind bug

It would be nice for the README file for `klog` to explain why the fork, versus contributing to glog.

[2019-02-11 17:46] aledbf commented on #43
@filmil maybe because the glog [README](https://github.com/golang/glog/blob/master/README) contains
`The code in this repo is for export only and is not itself under development. Feature requests will be ignored.`

[2019-02-11 17:53] filmil commented on #43
That explains just what it is, not why it is. :)

I would expect a sentence like: "We forked glog because..."

[2019-02-11 18:01] dims opened #44 "Bootstrapping a team to take care of klog"
The following folks have expressed interested on email/slack:
https://groups.google.com/forum/#!msg/kubernetes-dev/DKWQn2a3Ybw/Z-07nwabDwAJ

@yagonobre
@vincepri
@detiber
@jaredallard

Anyone else?

[2019-02-11 18:02] dims commented on #44
@pohly how about you?

[2019-02-11 18:09] jaredallard commented on #44
Just to reaffirm my interest, not a member of Kubernetes repo, so I hope that's not an issue.... but I have contributed to other k8s projects!

[2019-02-11 18:09] VineethReddy02 commented on #44
i would like to volunteer for this, but am new to the community. let me know if anything can be done from myside.

[2019-02-11 18:10] justinsb commented on #44
Sign me up!  @justinsb

[2019-02-11 18:18] pohly commented on #44
Davanum Srinivas <notifications@github.com> writes:

Okay.

Bye, Patrick

[2019-02-11 18:23] dims commented on #43
please see
- https://github.com/kubernetes/kubernetes/issues/61006
- https://github.com/kubernetes/kubernetes/issues/70264
- https://groups.google.com/d/msg/kubernetes-sig-architecture/wCWiWf3Juzs/hXRVBH90CgAJ
- https://groups.google.com/d/msg/kubernetes-dev/7vnijOMhLS0/1oRiNtigBgAJ

[2019-02-11 22:37] neolit123 commented on #44
me too. i've been watching this repo anyhow.

[2019-02-11 22:39] dims commented on #44
Thanks everyone, i'll file a PR in a day or so.

[2019-02-12 03:29] andyxning commented on #44
@dims I will also willing to do this. :) Please add me to reviewers also.

[2019-02-12 08:34] hoegaarden commented on #44
Would be interested to ramp up and help out.
Bye, Hannes

[2019-02-12 13:49] ttousai commented on #44
@dims I'm interested in contributing to klog.

[2019-02-12 16:14] jayunit100 commented on #44
@dims I recently was working on cleaning up klog issues in sig-storage and definetly want to help more , I’m happy to sign me up as a reviewer.

[2019-02-12 18:34] ghShu commented on #44
@dims I have been in k8s channel for a while and recently started using k8s in projects. Although not a member of k8s repo yet, I am interested and happy to help the effort of taking care of klog.

[2019-02-13 19:33] DirectXMan12 commented on #44
I'm interested (@DirectXMan12) -- I've been reviewing stuff here so far and continue to be generally interested in the future of our logging libraries.

[2019-02-13 19:50] dims commented on #44
@justinsb @DirectXMan12  : you are already an approver in the OWNERS file!

@ttousai @ghShu @andyxning @VineethReddy02 - please read through the history in mailing list and older issues (https://github.com/kubernetes/klog/issues/43#issuecomment-462437688) and file PRs / Issues etc. Once you are more active here or elsewhere in kubernetes, you can apply for org membership and we can add you as a re

[2019-02-13 19:53] DirectXMan12 commented on #44
yep, just reiterating that I'm still interested :-)

[2019-02-13 20:15] jaredallard commented on #44
@dims Assuming I'm included in that second list of people!

[2019-02-13 20:28] #44 closed

[2019-02-13 20:55] dims commented on #44
@jaredallard yep! would love to see a PR that fixes #43 (hint!)

[2019-02-13 21:08] jaredallard commented on #43
I'm going to try to get this done by EOD Friday, if anyone else plans on working on this please @ me so that we don't duplicate efforts!

[2019-02-20 08:56] andyxning commented on #44
@dims

I am already a Kubernetes member and being maintainer for some Kubernetes projects(kube-state-metrics/node-problem-detector). :) I think i already meet the requirement. :) Please re-consider it.

[2019-02-27 23:29] DirectXMan12 commented on #25
This is a good use for structured logging plus standardized structured keys.

[2019-03-06 18:22] #43 closed

[2019-03-12 18:20] discordianfish commented on #35
Its https://git.k8s.io/community/contributors/devel/sig-instrumentation/logging.md now

[2019-03-12 18:34] discordianfish commented on #35
Just a FYI: Doesn't look like apiserver follows these conventions. Just started apiserver with -v=2 and I don't see it logging requests. -v=3 seems to do.

[2019-03-15 13:42] detiber commented on #19
/remove-lifecycle rotten

[2019-03-15 20:08] DirectXMan12 commented on #19
I'm not convinced we need this any more.  We now have support for klog as a logr backend, and vice-versa should be merging soon.

[2019-03-15 20:13] vincepri commented on #19
Agreed, this probably can be closed.

[2019-03-15 20:14] detiber commented on #19
/close

[2019-03-15 20:14] #19 closed

[2019-04-03 20:08] adrianlzt opened #53 "Repeated trace in log file with error"
/kind bug

**What steps did you take and what happened:**
https://play.golang.com/p/6l8KNG_iOsM

Configuring klog to write to a file and logtostderr=false, the log file is openned and wrote three times with the same content.

Removing the flush, writes three times the headers, but no content.

**What did you expect to happen:**
Only one open and write.

**Anything else you would like to add:**
[Mi

[2019-04-03 23:17] DirectXMan12 commented on #53
/priority important-soon

[2019-04-04 00:02] vincepri commented on #22
/remove-lifecycle stale.

[2019-04-04 07:28] adrianlzt commented on #53
https://github.com/kubernetes/klog/blob/master/klog.go#L926
[code]
This is going to create a new file for each severity. Opening three times (error, warning and info) the same file if we have defined a particular ``log_file``.

Not sure why the comment says that it is going to stop.

[2019-04-04 09:42] adrianlzt opened #54 "Confusing arguments"
/kind bug

**What steps did you take and what happened:**
It is kinda difficult to configure logging, as arguments don't work as expected.

Doc is outdated and still show glog:
https://godoc.org/k8s.io/klog
[code]

But in [code](https://github.com/kubernetes/klog/blob/master/klog.go#L413) is defaulted to ``true``:
[code]

Examples of weird behaviours.

No initialization shows >=error:
[code]

But

[2019-04-05 18:09] yuwenma opened #55 "Avoid log truncation due to log-rotation delays (when logfiles exceeds 1.8GB faster than log rotation)"
/kind feature
(mirrored from k/k [issue 76210](https://github.com/kubernetes/kubernetes/issues/76210)
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
klog supports "log-file" flag to specify the log file path. However, when the logfile size reaches 1.8GiB and log-rotation hasn't happened, the older logs will be truncated. See details in PR76190.

[2019-04-05 18:12] DirectXMan12 commented on #54
There's two issues at play here:

1. The flag initialization issue (that's pretty sub-optimal)
2. The confusing nature of glog/klog flags and stderror -- that's a bit harder to fix due to backwards compat constraints, but we want to do it.  You're not the first person to be confused/frustrated by that.

[2019-04-05 18:17] DirectXMan12 commented on #53
it will stop if the files for a particular verbosity already exists (e.g. `l.file[s] != nil`) -- it just doesn't have a good definition of "already created".  We should probably fix this somewhere though.

[2019-04-05 18:18] DirectXMan12 commented on #23
similar to #53

[2019-04-05 18:18] DirectXMan12 commented on #23
/remove-lifecycle stale

[2019-04-05 18:20] DirectXMan12 commented on #55
for future reference: you can reference PRs and issues by putting `#` sign in front of the number, like `#76190`.  If they're cross repository, just put the repository name in front: kubernetes/kubernetes#76190

[2019-04-05 18:21] DirectXMan12 commented on #55
/priority important-soon

[2019-04-05 22:42] yuwenma commented on #55
@mborsz @tallclair @dims Move the discussion to this issue.

Maciej, I tried using the same manifest to create a custom cluster. I do see the kube-apiserver.log-XXX.gz.
![Uploading Screen Shot 2019-04-05 at 3.31.58 PM.png…](
<img width="866" alt="Screen Shot 2019-04-05 at 3 31 58 PM" src="https://user-images.githubusercontent.com/5606098/55660065-50f04280-57b9-11e9-99d5-fa2e719ccfd3.png">
)
Do you

[2019-04-05 23:12] yuwenma commented on #55
Thanks!

[2019-04-05 23:13] yuwenma commented on #55
Thanks Solly!

[2019-04-06 06:56] mborsz commented on #55
There is a race between kube-logrotate and klog. Klog truncates at 1.8GB and logrotate rotates logs every hour (if log is greater than 100M).

If you fill up logs slowly (less than 1.8GB per hour), the current setup will work. If faster, klog will truncate the log before logrotate even starts.

To reproduce the issue, simply try creating a cluster that produces more than 1800M per hour. In scalabi

[2019-04-07 14:51] mattjmcnaughton commented on #55
Just my opinion here, but I think having `klog` split the log files when it grows to 1.8 GB would be a violation of separation of concerns. In my mind, klog should just be responsible for writing to the file, and an external process should handle log rotation.

Would it be possible to tweak the settings of `kube-logrotate` so that it rotates if the file is larger than XGB, instead of on a time bas

[2019-04-08 00:13] dims commented on #55
@mattjmcnaughton as mentioned in https://github.com/kubernetes/kubernetes/pull/76190#issuecomment-480381942

we can support the SIGHUP on logrotate using say using https://github.com/client9/reopen

[2019-04-08 15:19] yuwenma commented on #55
Thanks Matt, I think you are right. Just updated the title and description. Will update with more details later on.

[2019-04-08 22:32] yuwenma commented on #55
Hi everyone, thanks for jumping in and helping on this issue. After gathering the different pieces of knowledge from everyone and discussed with @dims earlier today, I'd like to give a quick summary about what's going on here and to clarify some potential misunderstanding.

<h3>Root Cause:</h3>
We use logrotate to split log-files periodically and when they grow too large. The current setup is logr

[2019-04-08 23:15] dims commented on #55
I would definitely support option 1 and option 2.

Even if option 1 solves the problem, option 2 (i'd prefer say `log-file-max-size`) will help others who wish to use `log-file` instead of `log-dir`. We still haven't figured out where we got the magic 1.8GB limit came from either, so we can have a way for those who wish to bump up.

So between running logrotate more frequently and the specificatio

[2019-04-09 07:34] mborsz commented on #55
For option 1, please note that we used to logrotate every 5 minutes, but we had to revert this change to hourly (I don't know the details; see https://github.com/kubernetes/kubernetes/pull/74915).

Personally, I support option 3. I'm not the logging expert here, but I think the current pattern (kube-apiserver writes to stderr and we redirect to a file regardless of size) in k8s worked just fine. W

[2019-04-09 18:37] yuwenma commented on #55
From the input of @dims and @mborsz, I think what we can do is 1.) add the flag that allows klog owners define the `log-file-max-size`. 2.) set the default value as unlimited (same performance as option 3 -- disable the max size limitation). Does it sound reasonable?

I can't find out a clear explanation about why 5-minute logrotate causes the audit log test flakiness. @jpbetz Do you mind me tryin

[2019-04-09 18:41] dims commented on #55
@yuwenma

+1 to`1.) add the flag that allows klog owners define the log-file-max-size`

for `2.) set the default value as unlimited` we should make sure the `unlimited` is ONLY for `log-file` (not for `log-dir`)

y, let's drop the logrotate 5 mins thing, i vaguely remember the problem, but don't remember that we ever got to a root cause (possibly the frequent compression was taking up cpu?)

[2019-04-09 18:53] yuwenma commented on #55
hmmmm, Why not for "log-dir"?
I think setting the default value to unlimited is an adjustment for all the use cases that a fast growing file is losing log message when reaches 1.8GB. Is there any specific concerns for log-dir?

[2019-04-09 18:58] dims commented on #55
@yuwenma we don't want to change how `log-dir` works. `log-file` is new functionality so lets just tweak for that

[2019-04-09 21:31] jpbetz commented on #55
@wojtek-t The revert back to 1hr logrotate happened in the 11th hour of the 1.14 release due to some (poorly written, IMO) tests relying on on the current log containing specific information. We'd need to hunt the exact tests down since I don't have details handy. My recollection is that the tests need to be rewritten to either not rely on logs to check for conditions, or also check the rotated so

[2019-04-09 21:55] yuwenma commented on #55
Thanks @jpbetz, sounds like it's safer to wait until the test is improved before changing the logrotate frequency.
Since this klog issue currently blocks the rebasing images, I'll go head and do what @dims suggested (customize the max log file size).
Besides, I also checked with the original author for the magic "1.8GB" limitation: (from Rob) it's added to "avoid 32-bit signed integer overflow". T

[2019-04-09 22:34] tallclair commented on #55
It looks like the test that was causing problems was the advanced audit test, which has since been marked flaky (i.e. it no longer runs as part of the blocking test suite). So it should be safe to move forward with the increased logrotate frequency.

[2019-04-09 23:42] jpbetz commented on #55
Thanks @timstclair, reapplying via https://github.com/kubernetes/kubernetes/pull/76352

[2019-04-11 22:34] #55 closed

[2019-04-13 11:39] neolit123 commented on #35
hi, is this ticket about adding `--loglevel` as an alias to the already existing `--v` flag?
/kind feature
/priority backlog

[2019-04-14 01:06] dims commented on #35
@neolit123 yep

[2019-04-15 20:54] liggitt opened #57 "klog adds additional global flags"
**What steps did you take and what happened:**
klog 0.3.0 added a new global flag (`--log_file_max_size`). Global flags behave poorly in the presence of conflicting flags, or when a single binary links in multiple commands.

**What did you expect to happen:**
klog to provide an `AddFlags(flagSet)`-style mechanism for registering flags into a non-global flagset, rather than continuing to expand glo

[2019-04-15 21:26] vincepri commented on #57
I'm mostly certainly missing something, but it seems to me that the expected behavior described above should be achievable today using https://github.com/kubernetes/klog/blob/master/klog.go#L407-L425 passing a FlagSet instead of nil.

[2019-04-15 21:31] dims commented on #57
@vincepri context is the discussion in https://github.com/kubernetes/kubernetes/pull/76474#discussion-diff-274735802R108 on how kubelet is using stuff?

[2019-04-21 03:46] justinsb opened #60 "Difficult to configure logging to file"
Similar to #54, but in order to configure logging to a file and to stderr, we must first turn off logtostderr.

`--logtostderr=false --alsologtostderr --log-file=my.log`

I'm thinking that the logic for logging needs to be changed to reflect the changed default for `logtostderr`; I think a non-empty log-file should result in us _not_ logging to stderr, unless `alsologtostderr` is true.

/kind bug

[2019-04-25 18:02] chuckha opened #61 "klogr: Don't print level=n in a log line"
/kind bug

**What steps did you take and what happened:**
When printing logs I see a lot of `level="0"` or `level="1"` etc.

There is no reason to print this information and only adds to the difficulty of reading lines. If anything the level could be similar to the `I` or `E` that starts an `Info` or `Error` Log, but it does not need a whole field.

**Anything else you would like to add:**

The ch

[2019-04-25 18:32] detiber commented on #61
I would like to see the level information be preserved in the log output somehow. I do agree that the current method of printing it out is overly verbose.

[2019-04-25 19:21] dims commented on #25
/remove-lifecycle stale

[2019-05-06 14:41] detiber commented on #22
/remove-lifecycle rotten

[2019-05-06 17:56] justinsb opened #64 "Default behaviour changes when InitFlags is called"
When InitFlags is called (or technically flag.Parse), the default behavior changes.  `toStderr=true` and `logFileMaxSizeMB=1800` are only set when InitFlags is used.

This makes the library behaviour difficult to predict.

/kind bug

[2019-05-06 17:57] dims commented on #64
/assign @vincepri

[2019-05-16 16:52] tallclair commented on #53
It's also configured to write to multiple files: https://github.com/kubernetes/klog/blob/e88f7305ac70285fef29b8acebb00ba53136eab4/klog.go#L765-L777

[2019-05-22 20:54] losipiuk opened #67 "InitFlags does not reset klog configuration of application already did logging"
/kind bug

**What steps did you take and what happened:**

1) Application uses klog.Infof()
2) Logging happens based on klog default configuration.
3) Application calls `klog.InitFlags(nil)` and `flag.Parse()`. Flags specify log file.
4) Application uses klog.Infof() again.
5) Logs are *NOT* appended to output file specified by flags

**What did you expect to happen:**

Ideally klog should properl

[2019-05-22 23:51] vincepri commented on #67
Unless I'm mistaken `logs.InitFlags()` should always be called first, before any logging happens. I do agree that the behavior you describe is a little confusing though.

[2019-05-25 23:02] vincepri commented on #25
/remove-lifecycle rotten
/reopen

[2019-05-30 22:16] DirectXMan12 commented on #67
yeah, initflags should always be one of the first things you call in your program.

[2019-05-30 22:19] DirectXMan12 commented on #64
see also #63

[2019-05-31 12:51] losipiuk commented on #67
Yeah - and it was in my case - the logging was done deep in the stack in the function called from one of the module Init() funs (which are called before main() entrypoint).

[2019-06-04 01:04] DirectXMan12 commented on #67
ah, hmm... that's problematic

[2019-06-12 17:02] liggitt commented on #53
/reopen

the attempted fix for this caused severe performance regressions

[2019-06-12 17:03] liggitt commented on #53
fix was reverted in https://github.com/kubernetes/klog/pull/69

[2019-06-12 17:22] liggitt commented on #53
When a new fix is developed for this issue, it must be accompanied by (or preceded by) benchmark tests that exercise the cases that regressed in https://github.com/kubernetes/kubernetes/pull/78465

[2019-06-12 17:27] dims opened #70 "Need benchmark tests to prevent regressions"
Please see https://github.com/kubernetes/klog/issues/53 especially the comment from [Jordan](https://github.com/kubernetes/klog/issues/53#issuecomment-501374243)

Also see https://github.com/kubernetes/kubernetes/issues/78734

[2019-06-13 18:55] DirectXMan12 commented on #70
/priority important-longterm

I can never remember the kinds (beyond `feature` and `bug`) without looking at the labels (which I can't on this repo).  Do we have an "infra" one?

[2019-06-16 04:18] #34 closed

[2019-06-23 17:53] BenTheElder commented on #70
@DirectXMan12 find that frustrating too but you can actually look if you go to https://github.com/kubernetes/klog/labels (In the UI this is repo -> issues tab (all issues, not an issue) -> labels)

there's no infra label.

[2019-06-26 14:28] michaelgugino opened #72 "README.md dead link"
/kind bug

https://github.com/kubernetes/klog/blame/master/README.md#L34

This link is 404.

[2019-06-26 14:31] michaelgugino commented on #72
This is probably the correct link: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md

[2019-06-28 21:04] DirectXMan12 commented on #70
we'll call it

/kind cleanup

then

Thanks for the tip, I had forgotten that link was a thing

[2019-07-05 12:55] detiber commented on #23
/remove-lifecycle stale

[2019-07-15 21:04] BenTheElder commented on #57
/remove-lifecycle stale

ping! :upside_down_face:

[2019-07-22 13:59] detiber commented on #60
/remove-lifecycle stale

[2019-07-24 19:27] detiber commented on #61
/remove-lifecycle stale

[2019-08-03 10:01] miekg opened #81 "klog.SetOutput() triggers data race"
/kind bug

**What steps did you take and what happened:**
In CoreDNS we set `klog.SetOutput(os.Stdout)` to unify all our logging to standard ouput. In a (local) PR where we log a lot (https://github.com/coredns/coredns/pull/3055) this triggers a data race

**What did you expect to happen:**
no data race.

**Anything else you would like to add:**
race triggered is:
[code]

[2019-08-04 19:31] neolit123 commented on #81
/priority important-soon

[2019-08-05 14:27] detiber commented on #22
@vincepri does the current implementation of klogr meet your needs for this issue?

[2019-08-05 15:01] vincepri commented on #22
That’s probably ok for now, we can close this one out

/close

[2019-08-05 15:01] #22 closed

[2019-08-05 15:13] #81 closed

[2019-08-06 03:19] ytcisme commented on #53
Is there any way to avoid duplicating logs in log file now?

[2019-08-08 15:12] dims opened #84 "Document mixing SetOuput* methods with command line flags"
Found during review:
https://github.com/kubernetes/kubernetes/pull/81164#discussion_r312081553

[2019-08-08 15:13] dims opened #85 "Add functional test for duplication with log-file"
Found during review:
https://github.com/kubernetes/kubernetes/pull/81164#issuecomment-519549878

[2019-08-09 08:29] yqwang-ms opened #86 "Why not add "year" to log header or use well known time format?"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
https://github.com/kubernetes/klog/blob/3ca30a56d8a775276f9cdae009ba326fdc05af7f/klog.go#L622
Currently, the log header does not contain "year" info, so we cannot get the absolute time of each log line.
For example, we meet some problems:
1. We cannot distingush "I0809" is 2019/08/09 o

[2019-08-09 20:21] DirectXMan12 commented on #86
changing this in the normal log output would be problematic for compatibility reasons.

[2019-08-10 01:32] yqwang-ms commented on #86
@DirectXMan12 Thanks for this explanation.
But I'm thinking about, if, so why not continue to use glog and what is the propose of klog? I thought klog can revise a lot of historical problems in glog.

Why not make a flag in klog for this issue and the default value is disabled to be compatible, and let users can smoothly migrate to enable this flag instead of keeping historical problems forever?

[2019-08-10 07:24] miekg commented on #81
yep the race seems gone. Thank you.

[2019-08-10 07:32] miekg opened #87 "klog.SetOutput(ioutil.Discard) doesn't remove output"
/kind bug

**What steps did you take and what happened:**
calling `klog.SetOutput(ioutil.Discard` doesn't remove logging output.

**What did you expect to happen:**
No logging ouput.

**Anything else you would like to add:**
In https://github.com/coredns/coredns/pull/3055 I want to test various things, but not clutter the output to much, so I call `	klog.SetOutput(ioutil.Discard)`, but the screen

[2019-08-10 07:45] miekg commented on #87
Wait I'm holding it wrong it needs an `*os.File`.

[2019-08-12 08:55] yqwang-ms commented on #87
Seems SetOutput only set the logging destination for file.
To also impact the std stream, such as stderr, does below work?
[code]
Change current behaiour of SetOutput may be a breaking change, I suggest if we can provide another interface, or use a flag to tell if need to change behaiour.

[2019-08-12 18:22] miekg commented on #87
[ Quoting <notifications@github.com> in "Re: [kubernetes/klog] klog.SetOutpu..." ]

hmm, this panics:

[code]

[2019-08-12 22:43] DirectXMan12 commented on #87
hmm... are you consuming something that already calls `klog.InitFlags`?

[2019-08-13 01:08] DirectXMan12 commented on #86
klog is meant to fix some technical internal issues with glog.  However, we have to be careful with output issues -- whether we meant to or not, we've effectively formed a contract here with out users about log output.  Changing that without an option and deprecation period would cause issues.  That's not to say we can't change things -- we just have to make sure we allow a migration period.

[2019-08-13 01:39] yqwang-ms commented on #86
Thanks @DirectXMan12 , totally agree!
So the only TBD is that, do we plan to provide "an option and deprecation period" for this issue?

Any comment?

[2019-08-13 01:43] yqwang-ms commented on #87
Looks like klog conflicts with glog, so check repo readme to resolve it?

[2019-08-13 08:22] miekg commented on #87
[ Quoting <notifications@github.com> in "Re: [kubernetes/klog] klog.SetOutpu..." ]

yep, sorry my mistake, this code got called multiple times - but I was happy to
remove this flag fiddling from our code in the first place. Not thrilled to
re-add it.

Also it doesn't discard the output :-(

[2019-08-13 14:17] #61 closed

[2019-08-13 14:29] ilackarms opened #89 "running klog as a dependency causes `read-only filesystem` errors"
/kind bug

**What steps did you take and what happened:**

Running a pod on Kube which has klog as an implicit dependency. Crashes on boot with `log: exiting because of error: log: cannot create log: open /tmp/gloo.gloo-7cbdc7dd4f-btkps.unknownuser.log.WARNING.20190813-140027.1: read-only file system`

Would like to know if there is a way to disable Klog from writing to disk?

[2019-08-13 20:05] DirectXMan12 commented on #86
we'd have to make it optional, yes

[2019-08-13 20:05] DirectXMan12 commented on #86
deprecation is unclear.  I suspect the default is sufficient for most people, but perhaps making the timestamp format customizable could be useful.

[2019-08-13 20:07] DirectXMan12 commented on #89
questions are better directed @ discuss.k8s.io or stackoverflow.  However, to answer your question: `--logtostderr` will cause klog to log to standard error, and not a file.

[2019-08-13 20:07] DirectXMan12 commented on #89
/close

[2019-08-13 20:07] #89 closed

[2019-08-14 02:47] yqwang-ms commented on #86
Yep, BTW, do you plan working on this? Or anyone else?
If not I can pick it up later when I am free :)

[2019-08-15 22:07] DirectXMan12 commented on #86
I don't have any plan to work on it.  You'll want to be careful that you don't introduce a perf regression when you do.

[2019-08-16 02:38] yqwang-ms commented on #86
Thanks for the reminder! :)

[2019-09-02 07:12] losipiuk commented on #67
/remove-lifecycle stale

Unless fixed this is still problematic issue.

[2019-09-02 20:20] #54 closed

[2019-09-11 03:33] #35 closed

[2019-09-11 11:24] voidengineer commented on #89
This should not be closed!
As the reporter wrote, this is a bug. Klog should not write to /tmp (or anywhere else) if not explicitly enabled.

[2019-09-12 12:19] miekg opened #95 "remove os.Exit from this package"
/kind feature

klog inherits calling `os.Exit` from glog when things go sour. This is bad behaviour for a go library. As an application writer I don't want to beholden to klog deciding that my app needs to be killed.

Can this be behaviour be removed from this library?

[2019-09-17 00:47] DirectXMan12 commented on #89
The reporter asked a question ("Would like to know if there is a way to disable Klog from writing to disk?").  The question was answered.  That's why the issue was closed.  If you'd like to discuss whether or not `logtostderr` should be the default, feel free to open an issue about that.

[2019-09-24 06:26] miekg commented on #95
#96 has been brushed up and should be good to go for a review.

[2019-09-26 22:29] neolit123 commented on #70
/remove-lifecycle stale

[2019-10-09 19:27] liztio commented on #87
Bumping this, this is still an issue.

Here's my minimal reproduction:

[code]
As written, this prints to stdout:
[code]

If you uncomment flag.Set and the flag import, this behaves as expected:
[code]

This makes writing tests around logging very difficult. I think at least a `LogToFile()` or similar method would be useful here

[2019-10-23 01:35] dims commented on #25
/reopen
/remove-lifecycle rotten

[2019-10-23 17:57] jhahn21 opened #105 "Add VDepth()"
/kind feature

**Describe the solution you'd like**
We're trying to have a simple wrapper around `klog` package.
Currently `klog.V()` uses a hard-coded call depth when checking vmodule in `V()`
(https://github.com/kubernetes/klog/blob/master/klog.go#L1203), which prevents wrapping of `klog.V()`.

It would be great to allow this kind of wrapping by adding `VDepth(depth int, level Level)` like `Info

[2019-10-25 17:18] neolit123 commented on #72
seems resolved.
that line points to this now:
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md

/close

[2019-10-25 17:19] #72 closed

[2019-10-27 23:52] #64 closed

[2019-11-12 17:08] michael-db opened #106 "-vmodule does not work for users of klogr interface"
/kind bug

The  -vmodule  option works as expected where klog is used directly. However, where the the klog/klogr interface is used for logging, all such calls are treated as originating in klogr.go rather than the ultimate calling code.

**What steps did you take and what happened:**
[code]
[code]
**What did you expect to happen:**
[code]

**Anything else you would like to add:**

From a casual r

[2019-11-12 17:11] michael-db opened #107 "-vmodule should allow level -1"
/kind bug

It is possible to pass the option  -v -1  to disable level 0 logging, in which case only Errors are logged. However, it is not possible to pass a negative number for logging in a particular module, i.e., with the  -vmodule  option.

**What steps did you take and what happened:**

: logtest 114;  go build && ./logtest -vmodule klogr=-1
invalid value "klogr=-1" for flag -vmodule: negative

[2019-11-12 17:33] neolit123 commented on #107
which is essentially disable logging completely?
isn't there a flag to do that already?

[2019-11-12 17:33] neolit123 commented on #107
/remove-kind feature
/kind feature
/priority awaiting-more-evidence

[2019-11-12 17:39] michael-db commented on #107
Is there? Level -1 applies only to Info, not Error, so it is not equivalent to disabling logging completely.
[code]
If I have missed something then could you please indicate how to use -vmodule to disable all Info logging, but not Error logging, for a particular module.

[2019-11-12 17:41] michael-db commented on #107
[code]
What is required is the equivalent with -vmodule to also work.

[2019-11-12 17:43] neolit123 commented on #107
yes, i guess that's true.

ok, i think there is no way of doing that, currently.
the kind/feature label seems valid.

you can also try asking in #klog on the k8s slack if somebody has ideas.

[2019-11-14 04:02] yqwang-ms commented on #86
/remove-lifecycle stale

[2019-11-15 07:49] silentred opened #108 "Flag log_dir not work"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
main.go
[code]
go build -o main main.go
mkdir logs
./main -logtostderr=false -log_dir=logs

There is no log files under the dir "logs".

**What did you expect to happen:**
There are some files in the dir "logs"

[2019-11-20 02:12] coryrc opened #109 "Better docs/code for glog co-existence"
/kind feature

**Describe the solution you'd like**

I think, given klog has essentially the same semantics as glog and the simplicity of the solution, [this wrapper solution](https://github.com/istio/glog/) should be made official. The existing "co-exist with glog" suggestion has at least the one shortcoming of flags only being synced once.

I'm willing to do the work (mostly just document it) if

[2019-11-20 05:22] coryrc commented on #109
Additional shortcoming (and much more important) of the existing solution is not exposing any new flags as command line options.

[2019-11-25 18:58] coryrc opened #110 "Generic Coexistence section in README"
/kind docs

I'd like to update README.md to have a "Coexistence" section, like where glog is now, but suggesting the use of SetLogger() with everything supported by logr: https://github.com/go-logr/logr

Is this desirable?

[2019-11-25 22:19] neolit123 commented on #110
the SetLogger() PR was reverted. this might get added again in version 2.x.
https://github.com/kubernetes/klog/pull/97

[2019-11-25 22:19] neolit123 commented on #110
/priority awaiting-more-evidence

[2019-11-25 22:42] coryrc commented on #110
That itself was reverted: #98

so it is back?

[2019-11-25 23:26] neolit123 commented on #110
ok i missed the revert of the revert.
so it becomes a question whether we should document features in the readme that are not yet part of the next release.

/assign @dims @DirectXMan12

[2019-11-25 23:27] neolit123 commented on #110
i would go with a more descriptive title, but can't think of a good one right now.

[2019-11-29 11:19] justaugustus commented on #53
Any update on this?
/remove-lifecycle stale
/lifecycle frozen

[2019-12-02 14:46] #23 closed

[2019-12-12 22:47] #57 closed

[2019-12-19 16:24] #60 closed

[2019-12-23 14:36] detiber commented on #95
/remove-lifecycle stale

[2019-12-25 22:55] neolit123 commented on #70
/lifecycle frozen

[2019-12-31 15:03] neolit123 commented on #67
/lifecycle frozen

[2019-12-31 15:04] neolit123 commented on #67
/priority important-longterm

[2020-01-05 17:07] #84 closed

[2020-01-05 17:07] #85 closed

[2020-01-07 20:55] neolit123 commented on #87
/lifecycle frozen

[2020-01-21 18:34] jhahn21 commented on #105
/remove-lifecycle stale

[2020-02-16 07:01] vanou commented on #87
(TH

[2020-02-16 07:50] vanou commented on #108
You should call `flag.Parse()` to parse flag values passed at command line.

So following works
[code]

[2020-02-16 07:55] vanou commented on #108
/close

[2020-02-16 07:55] #108 closed

[2020-02-16 08:21] vanou opened #117 "Cleanup codes glued to logging global variable"
/kind cleanup

**Describe the solution you'd like**
In `klog`, there is codes glued to `logging` global variable. e.g. :
 * `output` method of `loggingT`
   As explained in #116 , `logging.logFile` is used in this method, not `l.logFile`. And because `create` function in `klog_file.go` refers to `logging.logFile`, this method is glued to global variable `logging`.

I think it's better to cleanup t

[2020-02-23 10:02] vanou opened #119 "Make type loggingT public type"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
I would like to make type `loggingT` public type. Because I want to make importer of `klog` be able to handle multiple `logr.InfoLogger` & `logr.Logger`.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
* Make `loggingT` publi

[2020-02-23 18:00] neolit123 commented on #119
if loggingT is made public it now becomes a public API that must not be broken by changes.
given the state of klog my vote goes to not making it public.

the global "lggging" variable seems like a separate refactor that should be done regardless?

[2020-02-26 13:27] vanou commented on #119
Thanks @neolit123 . Sorry for late reply.

given the state of klog my vote goes to not making it public.

You mean because current `klog` has many parts which should be improved/fixed, if `loggingT` is made public, it will slow speed of future development in `klog`?

Yes.

My colleague wants to implement structured logging. Currently, one approach is to use `logr.Logger` / `logr.InfoLogger` with `

[2020-02-26 14:17] neolit123 commented on #119
yes. by exposing it as public we are creating an API contract and i don't think loggingT (in it's current state) is suitable for that.

i'm wondering if this is already somehow supported and can be achieved without making loggingT public.

this example here gives you a separate `log` that is a structured:
https://github.com/kubernetes/klog/blob/master/examples/klogr/main.go#L19-L27

but how about

[2020-02-27 14:56] vanou commented on #119
I understand. If there are works I can contribute to, I would like to do. Are there any roadmap in `klog`? Or should I start with issues not closed?

Thanks. All `klogr` and `klog` depend on `logging` variable. So, currently, it looks difficult to handle multiple `logr.*`. I'll search any other workaround and will ask at slack channel.

[2020-02-27 15:21] neolit123 commented on #119
i have a "reviewer" status for the klog project and i'm not aware of its roadmap.
maybe klog has to be re-written from scratch, or maybe k8s is going to want to switch to a new logger. for now we seem to be stuck with it.

[2020-03-06 14:58] albertvaka opened #122 "Call to user.Current() crashes on Windows Nano"
/kind bug

**What steps did you take and what happened:**
The `init` function in `klog_file.go` [1] uses a Go API that doesn't work on Windows Nano [2], making every program that depends on klog crash on this platform. Note also that k8s is a primary target of Windows Nano, so this can be a common case.

**What did you expect to happen:**
This might eventually get fixed on Go's side, but since the

[2020-03-06 15:16] dims commented on #122
@albertvaka looks like a variation of the code in https://github.com/golang/go/issues/21867#issuecomment-375741005 would help here. Can you please file a PR and we can iterate there?

[2020-03-06 15:18] neolit123 commented on #122
i contributed parts of the go stdlib user package for windows.

i also participated in this discussion and handling the lack of certain libraries of Nano made it really difficult to do anything sane in stdlib.

overall nano is not a well supported subset of windows for go, but there is demand for it in the container world.

i will assign myself to try to send a fix for this unless @albertvaka obje

[2020-03-06 15:25] albertvaka commented on #122
Thanks a lot folks 🙇

 It might be worth also backporting the fix to glog :)

[2020-03-06 15:27] neolit123 commented on #122
sadly we cannot do that. the idea of klog was so that we can have a maintainable (debatable) logger that we can change and fix the way we want. glog is "locked".

[2020-03-09 11:21] #122 closed

[2020-03-17 21:47] serathius opened #125 "Implement InfoS and ErrorS functions"
/kind feature

**Describe the solution you'd like**
Klog should expose structured interface. Specifications are described within [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/20191115-structured-logging.md#new-klog-methods)

**Anything else you would like to add:**
Part of Structured Logging effort https://github.com/kubernetes/enhancements/issues/1602
/help

[2020-03-18 03:37] yuzhiquan commented on #125
/assgin

[2020-03-18 03:38] yuzhiquan commented on #125
/assign

[2020-03-19 11:12] serathius commented on #125
/priority important-soon

[2020-03-19 11:12] serathius commented on #125
/milestone v1.19

[2020-03-19 11:17] serathius commented on #125
/sig instrumentation

[2020-03-19 11:17] serathius opened #127 "Implement klog.KObj klog.KRef functions"
/kind feature

**Describe the solution you'd like**
Klog should implement standard klog.KObj and klog.KRef functions needed for referencing kubernetes objects.

[code]

Specifications are described within [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/20191115-structured-logging.md#new-klog-methods)

**Anything else you would like to add:**
Part of Structured

[2020-03-19 17:54] tahsinrahman commented on #127
/assign

[2020-03-20 01:44] yuzhiquan commented on #125
/remove-help

[2020-03-21 03:32] #25 closed

[2020-03-24 19:31] tahsinrahman opened #129 "Remove glog dependency"
/kind bug

go.mod files are not updated in master. If you run `go mod tidy` it'll add glog dependency. It comes from the example file https://github.com/kubernetes/klog/blob/2bed4d00564ea4dbef273202eabb5020e97a5e1a/examples/coexist_glog/coexist_glog.go

ref: https://github.com/kubernetes/klog/pull/128#discussion_r396896714

[2020-03-24 19:43] #127 closed

[2020-03-24 19:56] neolit123 commented on #129
/help
/priority backlog

[2020-03-24 20:30] serathius commented on #127
Awsome @tahsinrahman thanks for help

[2020-03-25 06:22] tanjunchen commented on #129
/assign
@neolit123  do we need to remove this ?

[2020-03-25 06:31] tanjunchen commented on #129
/remove-help

[2020-03-27 14:38] #129 closed

[2020-04-03 08:23] #125 closed

[2020-04-08 18:50] neolit123 opened #132 "remove travis.yaml now that the repo has github actions"
/kind feature
/help
/good-first-issue

the repository added github action support (see /.github/workflows), this allows us to remove the travis integration.

send a PR that removes https://github.com/kubernetes/klog/blob/master/.travis.yml

[2020-04-08 18:52] neolit123 opened #133 "investigate windows unit test failures"
/kind feature
/help
/good-first-issue

- run `GOOS=windows go test ./...` and see why the tests fail on windows.
- fix the tests.
- add `windows-latest` in the list of of OSes here:
https://github.com/kubernetes/klog/blob/master/.github/workflows/test.yml#L8
- send a PR

[2020-04-08 18:52] neolit123 commented on #133
/priority backlog

[2020-04-08 18:52] neolit123 commented on #132
/priority backlog

[2020-04-09 01:36] lsytj0413 commented on #132
/assign

[2020-04-09 13:25] #132 closed

[2020-04-09 13:54] sebsoto commented on #133
/assign

[2020-04-09 19:01] neolit123 commented on #133
/remove-kind feature
/kind bug

[2020-04-09 19:01] neolit123 commented on #133
/remove-help
/remove good-first-issue
/lifecycle active

[2020-04-10 15:11] #133 closed

[2020-04-10 17:44] biwwy0 opened #138 "After klog v2.0.0 release there are broken dependencies"
/kind bug

**What steps did you take and what happened:**
after running `dep ensure -update -v` in a go project I get the following:

[code]

**What did you expect to happen:**
Having `import "k8s.io/klog/v2"` keep working as it is still used widely

**Anything else you would like to add:**
I see many projects still use `k8s.io/klog/v2` endpoint in their source for klog v2. It would be nice to kee

[2020-04-10 18:36] #106 closed

[2020-04-10 19:20] neolit123 commented on #138
/assign @dims

i don't think the k8s project itself uses dep anymore, so not clear if it's considered supported.

we just switched k/utils to klog/v2:
https://github.com/kubernetes/utils/pull/152

[2020-04-10 19:38] #107 closed

[2020-04-10 20:16] biwwy0 commented on #138
It's not `dep` specific many projects, so if `utils` is good, then `client-go` is good too. Guess all is good

[2020-04-10 20:16] #138 closed

[2020-04-14 17:45] pecameron commented on #86
How about a callout function that the user can register to prepare the desired line prefix. For example, SetKlogPrefix( func prefix (... pass in existing context, time etc from klog, pass in byte vector to fill in). On each log call this function, when present, could get called. If the func is not set, today's processing is done.
This is one simple and optional API addition, and a simple call when

[2020-04-14 22:01] benmoss opened #139 "klogr flatten logs some strings oddly"
/kind bug

**What steps did you take and what happened:**
Had a klogr log something with `>` in the string, and saw it come out as `u003e`

**What did you expect to happen:**
Just prints the `>` character

**Anything else you would like to add:**
https://play.golang.org/p/xoZ7_N1tkUw

[2020-04-14 22:38] neolit123 commented on #139
it's because of this:
https://github.com/kubernetes/klog/blob/master/klogr/klogr.go#L142

and it needs the following fix:
https://stackoverflow.com/questions/28595664/how-to-stop-json-marshal-from-escaping-and

/help
/priority backlog

[2020-04-15 13:18] #139 closed

[2020-04-17 12:27] dims commented on #70
we added one :)

/close

[2020-04-17 12:27] #70 closed

[2020-04-18 07:31] #109 closed

[2020-04-20 19:31] jhahn21 commented on #105
/remove-lifecycle stale

[2020-05-11 13:14] Daxtrose opened #145 "Ability to set log format"
/kind feature

Currently, klog V2 writes log with a prefix in front of it as shown below. But the issue is that I run my apps in Google Kubernetes Engine and I use GCP StackDriver Logging which requires you to send a JSON format log to it. But klog (and glog) attach the prefix to it which breaks the JSON message. So GCP StackDriver Logging picks up all log statements as INFO even if I mark them fo

[2020-05-11 14:04] Daxtrose commented on #145
Nevermind, when I checked the documentation, I didn't see skip-headers as a possible flag. But I found it when I dug into the code and I'm able to generate my logs the way I want it.

[2020-05-11 14:04] #145 closed

[2020-05-15 01:00] #110 closed

[2020-05-21 16:56] neolit123 commented on #95
/reopen
/lifecycle frozen

[2020-05-25 15:15] mook-as opened #151 "Documentation for `V()` appears to be backwards"
/kind bug

**What steps did you take and what happened:**
Read the documentation and got confused by how `V()` works.

[It says](https://github.com/kubernetes/klog/blob/4cae117fdf5d65aeb3f638b8d8c87cd1cf8c8d41/klog.go#L1230-L1233) (for 2.0.0):

This says that when the application is invoked with `-v 3`, then `V(4)` will log but `V(2)` will not.

The code actually says:
[code]

The is the opposite

[2020-05-25 19:48] neolit123 commented on #151
hi,

this statement doesn't seem valid. -v=5 will not allow V(6) calls to log.
a PR for fixing the documentation for V() is welcome.

/remove-kind bug
/kind documentation
/priority backlog
/help

[2020-05-27 10:41] dims commented on #151
@mook-as yes please! thanks for yout attention

[2020-05-28 14:14] #151 closed

[2020-05-28 16:11] serathius opened #153 "ErrorS(nil, ...) should call loggr.Error(nil, ...) instead of loggr.Info(...)"
/kind bug

printS doesn't distinguish between being called as InfoS or ErrorS, so if nil is passed to ErrorS it will log it as info log.
https://github.com/kubernetes/klog/blob/master/klog.go#L756

[2020-05-29 10:00] tahsinrahman commented on #153
/assign

[2020-05-29 21:33] #153 closed

[2020-06-01 12:36] serathius opened #156 "Fix `InfoS` serializing Stringer subfields"
/kind bug

**What steps did you take and what happened:**

When migrating `Infof` to `InfoS` there was a regression in serializing Stringer subfields.
[code]
was correctly migrated to
[code]
Log output before migration
[code]
log output after migration
[code]

**What did you expect to happen:**
I would expect that type `time.Time` that implements stringer should be serialized using `.String()` ins

[2020-06-01 13:06] yuzhiquan commented on #156
We should pick a more properly printing “verbs” [here](https://github.com/kubernetes/klog/blob/49123d4185e36fbd878b45dac0f4286b34588bd0/klog.go#L806)

[2020-06-02 09:04] yuzhiquan commented on #156
How about
`fmt.Sprintf("%s=%#v", k, v)` to
`fmt.Sprintf("%s=%+v", k, v)`
that's will be result in:
before
`pod="kubedns" spec=struct { X int; Y string; N time.Time }{X:76, Y:"strval", N:time.Time{wall:0xbfada33b883319cb, ext:255115, loc:(*time.Location)(0x68d600)}`
then
`pod="kubedns" spec={X:76 Y:strval N:2020-06-02 16:56:32.219710745 +0800 CST m=+0.000316572}`
and
`values=[]int{8, 6, 7, 5, 3, 0,

[2020-06-02 09:57] serathius commented on #156
I think that would be an improvement. Feel free to send a PR and assign @thockin as reviewer.

[2020-06-02 14:53] serathius commented on #156
/assign @yuzhiquan

[2020-06-03 10:38] #156 closed

[2020-06-03 14:17] serathius opened #158 "InfoS uses `%#s` for errors instead of `%q`"
/kind bug
When working on https://github.com/kubernetes/kubernetes/pull/91591 we noticed that
[code]
was serialized to
[code]
instead of
[code]

Possibly it was fixed by https://github.com/kubernetes/klog/issues/156
If so we should  add tests for Error objects.

[2020-06-03 14:43] tahsinrahman commented on #158
/assign

[2020-06-04 15:39] #158 closed

[2020-06-10 12:19] AloofJr opened #161 "Solving failure: No versions of k8s.io/klog met constraints:"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
after
_kubebuilder init --domain k8s.io_
_dep ensure -v_

`Solving failure: No versions of k8s.io/klog met constraints:
	v2.1.0: Could not introduce k8s.io/klog@v2.1.0, as its subpackage k8s.io/klog/v2 is missing. (Package is required by k8s.io/gengo@master.)
	2.1.0: Could not introduce

[2020-06-12 01:52] andy-caruso opened #163 "Unable to get klog at latest version"
/kind bug

**What steps did you take and what happened:**
Ran `go get -u k8s.io/klog/v2@v2.1.0`

[code]

**What did you expect to happen:**
Package to retrieve successfully

[2020-06-12 01:56] andy-caruso commented on #163
This also happens with `go get  k8s.io/klog/v2@v2.1.0` (omitting `-u`)

[2020-06-12 02:16] andy-caruso commented on #163
Whoops, this was due to my go.mod specifying an incompatible version. I'll file a ticket with the other packages that are affected by the logr release

[2020-06-12 02:16] #163 closed

[2020-06-12 17:03] oomichi commented on #163
@andy-caruso
Hello, I am facing this issue on cloud-provider-openstack CI system.
Could you give me the link of the ticket you are filling?

[2020-06-12 17:06] andy-caruso commented on #163
We resolved this issue by removing `-u` from our calls to `go get`. I have not filed any other tickets.

[2020-06-12 19:05] oomichi commented on #163
OK, thanks.
I got it.

[2020-06-14 14:01] physcat opened #165 "Structured logging behaviour changed from v2.0.0 to v2.1.0"
/kind bug

Structured logging using levelled V function changed.

**What steps did you take and what happened:**
Create test program
`$ go mod init klogtest`
[code]

Output:
[code]

**What did you expect to happen:**
Change the version back to v2.0.0 in the `go.mod` file and run again:
[code]

[2020-06-15 18:58] david-enli commented on #161
running into same issue, do we have a timeline when this will be fixed

[2020-06-16 04:23] nikhita commented on #161
@AloofJr Thanks for reporting the bug!

This occurs due to a bug in `dep` (https://github.com/golang/dep/issues/2139, https://github.com/golang/dep/issues/1962) and might be better tracked in https://github.com/kubernetes-sigs/kubebuilder/issues/1557 since it depends on the way kubebuilder uses dep.

`dep` doesn't support import path suffixes like `/vN` because `k8s.io/klog/v2` is not in the **phy

[2020-06-16 04:23] #161 closed

[2020-06-16 10:42] #165 closed

[2020-06-19 09:06] alok87 opened #167 "Hook to expose prometheus metrics"
/kind feature

**Describe the solution you'd like**
If klog can support exporting metrics to Prometheus, it would be really helpful in logging error rate.

**Anything else you would like to add:**
I see https://github.com/weaveworks/promrus has done something similar with logrus

[2020-06-23 20:43] jianjuns opened #169 "Support --log_file_max_size for multiple log files"
/kind feature

**Describe the solution you'd like**
As of now, the --log_file_max_size parameter of klog takes effect only when a single log file is specified via --log-file. And when the specified log file reaches the max size limit, klog will simply clean up all existing log messages in the file. This behavior seems not very useful to keep logs within a specified size.
So, it will be great if kl

[2020-07-02 15:37] bamboox opened #171 "use log_file_max_size,if restart cannot rotate file logfile ,logfile > log_file_max_size"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
If --log_file_max_size=1
Setting logMaxSize 1MB running for a period of time logfile size 0.9MB
then restart
logfile > 1MB not raote

**What did you expect to happen:**

logfile <= 1MB

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the is

[2020-07-14 01:54] yqwang-ms commented on #86
/remove-lifecycle stale

[2020-07-15 09:54] #117 closed

[2020-07-20 19:47] jhahn21 commented on #105
what is the right  way to proceed this?

[2020-07-22 21:29] #171 closed

[2020-07-26 17:17] #119 closed

[2020-09-17 10:01] alok87 commented on #167
/remove-lifecycle stale

[2020-09-18 21:24] #105 closed

[2020-09-22 02:24] alex-vmw commented on #169
/remove-lifecycle stale

[2020-09-26 04:37] kiyonlin opened #180 "Provide custom depth log functions"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

After encapsulating `klog`, I found that the header information of the logs was my own log file.

[code]

And it should be
[code]

This is because calling depth is 0 by default. Can we provide `V(l).XxxDepth` and `XxxDepthf` functions in the package?

BTW, I can submit a PR.

[2020-10-05 13:21] lilic opened #181 "Should klog/v2 be mentioned in the README"
/kind feature

**Describe the solution you'd like**
The readme does not have an example for klog/v2. Is this intentional or would adjusting those examples to klog/v2 be better for new users to use klog/v2 directly?

If yes, should we replace the

with

https://github.com/kubernetes/klog#how-to-use-klog

Thanks!

[2020-10-05 13:25] dims commented on #181
@lilic yes we should be. Can you please whip up a quick PR, happy to merge it.

[2020-10-05 14:09] #181 closed

[2020-10-05 14:28] dims commented on #181
thanks a ton @lilic

[2020-10-12 03:47] yqwang-ms commented on #86
/remove-lifecycle stale

[2020-10-26 21:36] torresdal opened #185 "No keys and values are sent to logr when using structured logging with json"
/kind bug

**What steps did you take and what happened:**
Tried using structured logging with json. None of the provided keys and values where logged.

**What did you expect to happen:**
All provided keys and values should be logged in json output.

**Anything else you would like to add:**
Pull-request coming

[2020-10-28 11:30] torresdal commented on #185
Solved with #179

[2020-10-28 11:30] #185 closed

[2020-11-04 08:43] Himanshuxone opened #188 "go routine created on flush logs has a leak."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
After running test cases found out that there is a go routine leak in klog.go
[code]

[2020-11-04 17:51] dims opened #191 "Ensure flags added in klog have a prefix to identify where the flag came from"
feedback from @liggitt in: https://github.com/kubernetes/kubernetes/pull/96154#issuecomment-721764666

[2020-11-06 07:24] yuzhiquan commented on #191
/cc

[2020-11-11 14:29] #191 closed

[2020-11-18 01:41] yehuis4 opened #194 "A question for log format"
https://github.com/kubernetes/klog/blob/199a06da05a146312d7e58c2eeda84f069b1b932/klog.go#L651

Why we add ']' after line number?  So the log looks like this now:
I1116 19:17:09.865980       1 join.go:249] Performing preflight checks.

It seems a little bit strange, why not add '[' before the file name and show it like this:
I1116 19:17:09.865980       1 [join.go:249] Performing preflight checks.

[2020-11-21 16:09] greut commented on #106
the vmodule filtering is done on the `Verbose` side, b598b73436b594359a89e548fe3caffab0f9cc93 However, `klogr` doesn't use it.

[2020-12-04 11:26] phelian commented on #87
For what it's worth, I ran into this issue today and I solved it like this

[code]

[2020-12-04 16:07] avorima opened #201 "Optional additional callstack skipping for klogr"
/kind feature

**Describe the solution you'd like**

Wrapping the klogr logger to extend it causes the caller info to point to where the wrap is implemented instead of where the line was logged.
It'd be nice to be able to configure an additional number of caller frames to skip.

If https://github.com/kubernetes/klog/pull/197 gets merged it could be added as an `Option`

[code]

**Anything else you

[2020-12-16 13:30] #167 closed

[2020-12-17 18:55] grosser opened #203 "support vmodule for json logger?"
/kind feature

we have some noise in our logs that we'd like to get rid of, we tried vmodule, but ran into:
`Error: non-default logging format doesn't honor flag: vmodule`

so we'd need:
- json formatter should show package info
- json formatter should allow silencing some packages

coming here from https://github.com/kubernetes/kubernetes/issues/96314

[2021-01-10 05:54] yqwang-ms commented on #86
/remove-lifecycle stale

[2021-01-14 17:49] pires commented on #180
I just ran into this myself.

[2021-01-14 17:53] pires commented on #180
It seems there are already depth functions, eg `InfoDepth` but these are not implemented by `Verbose`. Any reason why?

[2021-01-14 20:17] pires commented on #180
For whoever comes next, maybe this helps

[code]

[2021-01-20 05:32] alex-vmw commented on #169
/remove-lifecycle rotten

[2021-02-08 10:07] marseel opened #209 "Make info logging non-blocking"
/kind feature

**Describe the solution you'd like**
I would like to make it possible to make logging with info level non-blocking.
Draft idea:
- Add buffer for logging with limit of X logs that can be stored.
- If buffer is not full, add log to buffer
- If buffer is full, increment counter of skipped logs
- Every Y seconds check if some logs were skipped and log aggregated information like "Z info

[2021-02-08 10:14] marseel commented on #209
/cc @serathius

[2021-02-08 12:54] serathius commented on #209
Having info logs as non-blocking sounds reasonable assuming that we will not change the default behavior, but introduce a flag to maintain backward compatibility
/cc @thockin @DirectXMan12 @dims
WDYT?

[2021-02-08 13:45] dims commented on #209
@serathius i'll let the others chime in first. my question would be, is there a prior art in some other logging library?

[2021-02-09 10:54] wojtek-t commented on #209
I don't know open-source logging libraries TBH, but I know that this is something we're doing internally.

[2021-02-11 11:05] pierluigilenoci opened #211 "Logs information content changes with the format"
/kind bug

**What steps did you take and what happened:**

Using [`secrets-store-csi-driver`](https://github.com/kubernetes-sigs/secrets-store-csi-driver) (which uses `klog`) I noticed this strange behavior.

Log with verbosity 1 in text format
[code]

Log with verbosity 1 in JSON format
[code]

In JSON `spcps` is missing, `secretproviderclasspodstatus_controller.go:183` is missing

**What did you

[2021-02-11 18:16] aramase opened #212 "stderrthreshold not honored when logtostderr is set"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
We're using the `klog` logging framework in [Secrets Store CSI Driver](https://github.com/kubernetes-sigs/secrets-store-csi-driver). When trying to set `-stderrthreshold=ERROR` with `-logtostderr=true`, we're seeing all the logs are being printed. Is this the expected behavior?

Users wa

[2021-02-11 18:24] aramase commented on #212
Found this PR (https://github.com/kubernetes/klog/pull/31) which adds the severity check when `logtostderr` is set. This was however reverted https://github.com/kubernetes/klog/pull/50

[2021-02-24 15:32] pierluigilenoci commented on #211
@pohly @dims could you please take a look?

[2021-02-24 15:32] pierluigilenoci commented on #212
@pohly @dims could you please take a look?

[2021-02-24 16:29] pohly commented on #211
This may also be an issue with k8s.io/component-base/logs/json and the Zap backend that it uses for JSON. I don't have much personal experience with that myself. I may have some time later this week to investigate, but no promise.

[2021-02-24 18:25] pierluigilenoci commented on #211
@pohly I tagged you because I thought you were the right person.
If you are not, let me know who is more correct to tag. ❤️

[2021-02-25 03:41] yuzhiquan commented on #211
@pierluigilenoci [pr179](https://github.com/kubernetes/klog/pull/179) dose not resolve this issue?

[2021-02-25 07:30] pohly commented on #211
Support for structured logging was added by @munnerz .

I think it is intentional that klog itself leaves it to the structured logger instance to print the source code location. However, because klog wraps such a logger (https://github.com/kubernetes/klog/blob/06bfcd3f996e691aec13671ee2f29323e567fa97/klog.go#L791-L794) the source code information probably would be wrong. `WithCallDepth` was added

[2021-02-25 11:39] pierluigilenoci commented on #211
@yuzhiquan yes, it is fixed in klog v2.5.0 but now I'm hit by this problem: https://github.com/kubernetes/klog/issues/212 :(

@pohly @yuzhiquan to better understand the context: https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/442

[2021-02-25 11:50] pierluigilenoci commented on #212
@DirectXMan12 @justinsb @neolit123 @mtaufen could you please take a look?

[2021-03-04 16:57] pierluigilenoci commented on #212
@pohly @yuzhiquan @munnerz could you please take a look?

[2021-03-04 17:01] pierluigilenoci commented on #212
Who needs to be tagged to get feedback?

@jayunit100
@hoegaarden
@andyxning
@yagonobre
@vincepri
@detiber
@thockin
@tallclair
@piosz
@brancz
@lavalamp

[2021-03-04 17:18] lavalamp commented on #212
Everyone is extremely overloaded. This looks like it may be much more important to you than perhaps to some other people.

The description of the reversion PR is pretty clear about what went wrong. I recommend sending a PR that adds what you need while not triggering the problems mentioned there.

[2021-03-04 20:04] ehashman opened #214 "logcheck: should not return error if no Go files are present"
/kind bug

**What steps did you take and what happened:**

When running logcheck against a directory that contains no Go files, I get an error:

[code]

**What did you expect to happen:**

I would expect a directory with no Go files to pass the linter.

**Anything else you would like to add:**

/cc @adisky
/priority important-longterm

[2021-03-05 22:59] ehashman opened #215 "logcheck: should not skip Windows files"
/kind bug

**What steps did you take and what happened:**

Right now, it seems that logcheck is unable to check Windows files. This is probably because there is a specified build tag of windows. Since the CI environment is not Windows-based, they are not built and hence not linted.

**What did you expect to happen:**

Files with `// +build windows` should be linted.

**Anything else you would like

[2021-03-05 23:27] BenTheElder commented on #215
Invoking it twice with `GOOS=linux`, `GOOS=windows` is probably sufficient.
We have similar precedent in `test/typecheck` (a custom "linter" to ensure kubernetes cross-compiles without actually building binaries)

[2021-03-05 23:31] ehashman commented on #215
Aha!

/honk

[2021-03-06 03:01] yuzhiquan opened #216 "When error is nil, ErrorS change log level"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

If err ==nil  will result in
[code]
This would change log level, because [klog.go#L809](https://github.com/kubernetes/klog/blob/110d443dcd6b29c2941cabd9ab9d211063658a21/klog.go#L809)
May be we should use `InfoS` instead of `Errors`.

_Originally posted by @yuzhiquan in https://github.co

[2021-03-06 03:02] yuzhiquan commented on #216
/assign

[2021-03-06 03:11] yuzhiquan commented on #216
[code]
if err == nil, witch one is expected:

[code]
or
[code]
@serathius @ehashman

[2021-03-07 13:01] #216 closed

[2021-03-08 06:10] adisky commented on #214
/good-first-issue

[2021-03-08 06:30] adisky opened #218 "logcheck: Add check for format string usage"
/kind feature

**Describe the solution you'd like**
Improve `logcheck` tool to check for format string usage in structured logging functions like `InfoS`, `ErrorS`.

**Anything else you would like to add:**
We are reporting error if found usage of unstructured klog functions [here](https://github.com/kubernetes/klog/blob/master/hack/tools/logcheck/main.go#L86). In similar way we need to report usa

[2021-03-08 06:32] adisky commented on #218
/good-first-issue

[2021-03-08 08:34] umangachapagain commented on #214
/assign

[2021-03-08 08:34] umangachapagain commented on #218
/assign

[2021-03-08 09:09] adisky opened #219 "logcheck: Add check for valid keys and number of args for ErrorS/InfoS"
/kind feature

**Describe the solution you'd like**
For  `InfoS` add checks for
- No. of arguments to `InfoS` should be uneven  (msg +X * (key+value) = 1 + 2X = always uneven number)
- Argument on uneven index is always string (we should never pass a var or const as key)
- No non-ascii characters in keys

For `ErrorS` add checks for
- No. of arguments should be even (err+msg+ X*(key+value)= 2+2X=

[2021-03-08 09:10] adisky commented on #219
/good-first-issue

[2021-03-08 15:08] mowangdk commented on #219
/assign

[2021-03-09 16:29] pierluigilenoci commented on #212
@lavalamp I can understand that you are all loaded with work but this seems a pretty big bug for a logging library and it seems incredible to me that in two years no one has been able to fix it.

[2021-03-09 17:09] neolit123 opened #222 "updated the OWNERS file to reflect ownership of k/klog"
**Describe the solution you'd like**

when k/klog was originally created (as a fork of glog) the project was owned by SIG Arch, but later it was stated that this should be owned by SIG Instrumentation. klog is listed as a sub-project SIG instrumentation:
https://github.com/kubernetes/community/tree/master/sig-instrumentation#klog

but the OWNER file in this repository does not reflect the owning S

[2021-03-09 17:10] neolit123 commented on #222
/priority important-longterm

[2021-03-10 10:29] adisky opened #223 "logcheck: Improve concurrency."
/kind feature

**Describe the solution you'd like**
Currently logcheck is able to accept multiple packages. It parses and check them sequentially, for smaller no. of packages it is fine, but when we migrate a larger chunk of k/k codebase to structured logging this tool will take significant time in CI.

To avoid this the tool should be able to parse and check multiple packages concurrently.

**Any

[2021-03-10 10:33] umangachapagain commented on #223
/assign

[2021-03-10 11:54] umangachapagain commented on #223
`SingleChecker.Main()` reads the args directly and passes it to checker. The checker creates trees and runs analysis on each root found (in parallel).
Any ideas on how we run the checker in parallel for each user provided arg?

[2021-03-10 12:50] adisky commented on #223
The analysis run function which is looping over files, make it to run concurrently.

[2021-03-10 17:04] umangachapagain commented on #223
From comment on analysis package - `The Run function should not call any of the Pass functions concurrently.`
In our run function for analysis, we use `pass.Report()` which as per this comment shouldn't be called concurrently.
I'm confused.

[2021-03-10 19:19] serathius commented on #211
@pierluigilenoci Thanks for feedback. JSON format is currently in Alpha state and is not planned to be 1to1 replacement to text format. Fields offered by those formats will be different.

For now we are not planning to add code source information like `secretproviderclasspodstatus_controller.go:183`. As for Alpha we focused on minimal set of required fields and we hope that with migration to struc

[2021-03-12 09:54] mowangdk commented on #219
one question: @adisky

[code]

is this means the InfoS & ErrorS func should return error?

[2021-03-12 11:38] serathius commented on #219
@mowangdk Returning error would be an alternative way to detect invalid calls, but it has some major calls:
* If logging call is invalid there is no good action to take: If log call call returns errors what should we do?
  Try logging again? No, as this can also fail.
  Maybe return error up the calls stack? No, as failure in logging is not important enough that it should impact business logic of

[2021-03-13 11:36] mowangdk commented on #219
ok get, returning error in log function really a bit weird

[2021-03-15 04:30] adisky commented on #219
@mowangdk It is about to add validation in the static tool like here https://github.com/kubernetes/klog/blob/master/hack/tools/logcheck/main.go#L86.
If you go over the linked issue https://github.com/kubernetes/kubernetes/issues/98975 you will understand why this is needed.

[2021-03-15 06:14] mowangdk commented on #219
ok，thx~

[2021-03-15 07:11] adisky commented on #223
Thanks @umangachapagain for researching on it, can we try to pass all packages at once in the script to speed up the tool? https://github.com/kubernetes/kubernetes/blob/master/hack/verify-structured-logging.sh#L54-L57

[2021-03-15 07:38] lauchokyip commented on #218
Hey @umangachapagain , can I try working on this? Thank You :)

[2021-03-15 11:44] adisky commented on #215
closing this, the fix has been merged here
https://github.com/kubernetes/kubernetes/pull/99996
/close

[2021-03-15 11:44] #215 closed

[2021-03-15 11:46] umangachapagain commented on #223
I roughly tested it with https://github.com/kubernetes/kubernetes/pull/100246 and saw a huge improvement.
Without this change the script took `7s` just for checking while with the change it took `<1s`.

[2021-03-15 12:07] umangachapagain commented on #218
@lauchokyip sure.

/unassign me
/assign  @lauchokyip

[2021-03-15 18:03] lauchokyip commented on #218
Thank You!

[2021-03-15 18:03] lauchokyip commented on #218
/assign

[2021-03-15 22:00] #180 closed

[2021-03-16 05:35] mowangdk commented on #219
one more questions

how to check key's value(must be ascii) in static ast?

[2021-03-16 08:44] adisky commented on #219
@mowangdk We need to extract the function arguments from the ast tree,
`klog.V(2).InfoS("Killing containers in a pod", 7, containerID )`
The index[0] arg for InfoS is message, index[1] arg is key (All odd index are then keys), once we extract the keys we need to validate it is valid ascii or not.

[2021-03-16 09:52] mowangdk commented on #219
@adisky Is it possible that this key is a variable？

[2021-03-16 09:58] adisky commented on #219
Nope, keys cannot be variable.

[2021-03-16 10:17] mowangdk commented on #219
ok i see , all keys in kubernetes are const. but no restrictions in the code?

[2021-03-17 01:29] ehashman commented on #222
We recently reviewed this as part of the SIG Instrumentation annual report. We noted subproject owners as @dims @thockin and @DirectXMan12 and we added @dims to the SIG Instrumentation roster.

We have an agenda item this week to discuss forming a logging WG. Perhaps we can discuss this further then. https://docs.google.com/document/d/1FE4AQ8B49fYbKhfg4Tx0cui1V0eI4o3PxoqQPUwNEiU/edit#heading=h.cx8

[2021-03-17 02:24] lauchokyip commented on #218
@umangachapagain Sorry! I think I am getting busier so I don't think I would have time to work on this one. I will assign back to you

[2021-03-17 02:25] lauchokyip commented on #218
/unassign

[2021-03-17 02:25] lauchokyip commented on #218
/assign @umangachapagain

[2021-03-17 13:57] adisky commented on #223
I think we are good to close this issue.
It has been fixed by https://github.com/kubernetes/kubernetes/pull/100246
/close

[2021-03-17 13:57] #223 closed

[2021-03-17 20:35] grosser commented on #203
/lifecycle frozen

[2021-03-19 13:44] serathius commented on #214
@ehashman is problem mitigated by running linter against parent directories? For example now we run against `pkg/kubelet/...`. I think it skips packages without Go files.

[2021-03-19 13:50] serathius commented on #211
This bug also touched on other issue. Currently JSON is automatically installed in only K8s control plane components, but any external component that depends on k8s.io/component-base.
As an alpha feature this may not be something that developers of external components want to introduce or support. I think we should consider making json installation optional and only force it in control plane compo

[2021-03-20 17:27] #219 closed

[2021-03-23 17:05] #218 closed

[2021-03-25 02:15] mtaufen commented on #211
Technically component-base is about core K8s pieces, and we make clear in the README:

That said I don't like breaking people, so making the JSON install optional sounds like the right decision to me.

But I do have a question: Is it "installed but not enabled" or "installed and enabled by default" right now? If the latter, it's not really alpha no matter what we say... but if it's the former it's

[2021-04-03 11:14] #188 closed

[2021-04-09 10:02] chinglinwen commented on #169
Any news for this issue?

[2021-04-12 07:17] yqwang-ms commented on #86
/remove-lifecycle stale

[2021-04-17 03:36] #194 closed

[2021-04-27 17:39] pohly commented on #201
This was resolved when implementing support for WithCallDepth in https://github.com/kubernetes/klog/pull/207

/close

[2021-04-27 17:39] #201 closed

[2021-04-27 17:43] neolit123 commented on #222
/lifecycle frozen

[2021-05-04 11:18] Edord99 opened #235 "Hllo"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-05-04 11:24] Edord99 commented on #235
Hllo

[2021-05-04 18:55] #235 closed

[2021-05-08 11:46] njuptlzf opened #236 "[]byte will use +%v through InfoS."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]
print:
I0508 19:35:13.452661   57319 testKlog.go:11] "[]byte" b1=[104 101 108 108 111 32 119 111 114 108 100]

**What did you expect to happen:**
I0508 19:37:01.473191    2045 testKlog.go:11] "[]byte" b1="hello world"

**Anything else you would like to add:**
[Miscellaneous infor

[2021-05-10 03:05] njuptlzf commented on #236
Everything is for the development of the community, cheers. :)

[2021-05-20 09:28] paullaffitte opened #239 "Contextual structured logging"
/kind feature

**Describe the solution you'd like**
It would be nice to be able to use a context for structured logging. Something like described in [this article](https://www.cockroachlabs.com/blog/enriching-log-messages-using-go-contexts/). Here is a short example from the article:

[code]

Something similar could be implemented in order to populate structured logs, example inspired from [kubene

[2021-05-26 18:55] serathius commented on #239
/wg structured-logging

[2021-05-26 20:48] serathius commented on #239
Thanks for creating issue, contextual logging is a great idea!
It should be something in scope of newly created Structured Logging Working Group.

I have added it to WG [Roadmap](https://docs.google.com/document/d/1QfWPqofHU1WR6leiEeWYdHYBEegE_YRxlbB4jDg1sRc/edit?usp=sharing)
/assign

As for api design, I think wait for Kubernetes to migrate to https://github.com/go-logr/logr as it already support

[2021-05-29 00:45] thockin opened #241 "logr has tagged v1.0.0-rc1"
/kind feature

logr made BREAKING CHANGES for implementations to prep for 1.0.0

I know this impl was derived from glogr, so here's the glogr PR that adopts the new logr API changes: https://github.com/go-logr/glogr/pull/13 - this includes a bunch of perf-related changes too.

The changes are not THAT complicated.  Please feel free to shout if they don't make sense.

[2021-05-29 15:13] dims commented on #241
looks like the diff for logr is as shown here: https://github.com/go-logr/logr/compare/v0.4.0...v1.0.0-rc1

[2021-05-29 15:17] dims commented on #241
/assign @dims

[2021-05-29 17:25] thockin commented on #241
https://github.com/go-logr/zapr/pull/28 is a more surgical example (but I
did spend a log of time on the glogr changes to make perf less terrible,
e.g. avoiding `json`)

On Sat, May 29, 2021 at 8:17 AM Davanum Srinivas ***@***.***>
wrote:

[2021-05-30 18:22] hobbes1069 opened #243 "Needs updating for Hamlib 4.2"
/kind bug

In hamlib 4.2 `FILPATHLEN` was renamed to `HAMLIB_FILPATHLEN`.

The easiest workaround I know of is to:

[code]

and

[code]

[2021-06-02 12:23] dims opened #244 "Rename "master" branch to "main""
Steps and check list are here:
https://www.kubernetes.dev/resources/rename/

[2021-06-02 12:26] dims commented on #244
/assign @kubernetes/owners

[2021-06-02 16:50] spiffxp commented on #244
/wg naming
umbrella issue ref: https://github.com/kubernetes/org/issues/2222

For future reference it would be helpful if you can confirm you've walked through the checklist.  Noting for @kubernetes/owners that the instructions as posted at kubernetes.dev are not easily copy-pasteable into an issue body as a checklist.

That said, I took a quick grep through kubernetes/klog and kubernetes/test-inf

[2021-06-02 17:16] dims commented on #244
Note to sig-instrumentation mailing list - https://groups.google.com/g/kubernetes-sig-instrumentation/c/GmdVotAvZTw/m/wgpOM35mAgAJ

[2021-06-02 18:59] spiffxp commented on #244
/sig instrumentation
/priority important-soon
/kind cleanup

[2021-06-03 00:05] dims commented on #244
Done!

[2021-06-03 00:05] #244 closed

[2021-06-06 14:07] serathius commented on #203
/wg structured-logging

[2021-06-06 14:07] serathius commented on #203
Thanks for filing the issue.
Support for vmodule will be considered as part of https://github.com/kubernetes/kubernetes/issues/99270

[2021-06-06 15:02] serathius commented on #211
Let's summarize the issue before closing.

Original problem

During the discussion we came to conclusion that installing JSON should be optional for users of component-base.

TODO:
* spcps is missing - Resolved by https://github.com/kubernetes/klog/pull/179
* secretproviderclasspodstatus_controller.go:183 is missing - tracked in https://github.com/kubernetes/kubernetes/issues/102353
* JSON optiona

[2021-06-06 15:02] #211 closed

[2021-06-08 07:29] pierluigilenoci commented on #212
/remove-lifecycle stale

[2021-06-10 15:35] erain commented on #209
/cc @erain

[2021-06-23 16:16] paullaffitte opened #248 "Structured logging for Warnings and Errors"
/kind feature

**Describe the solution you'd like**

I would like to be able to call `klog.WarningS` or `klog.ErrorS` to do structured logging on warnings and errors too.

**Anything else you would like to add:**

It would have to work just the same way as `klog.InfoS`

[2021-06-26 10:15] yuzhiquan commented on #248
We have an discussion about warnings in https://github.com/kubernetes/klog/pull/184 formerly, you can check this, and if you have any other idea, ket me known.

[2021-06-29 09:10] umangachapagain commented on #214
This issue blocks kubernetes/kubernetes/issues/102439 which is targeted for v1.22.

/remove-lifecycle stale

[2021-07-02 19:54] JKtheSlacker commented on #243
This bug report is for a different klog. See ea4k's repository.

[2021-07-05 07:32] yuzhiquan commented on #239
/cc
And i meet this context logging in my current work, interesting feature.

[2021-07-06 22:57] thockin commented on #241
logr v1.0.0 has been tagged.  No changes since rc1.

[2021-07-07 22:11] PushkarJ opened #251 "Add a new flag `logFilePerm`"
/kind feature

**Describe the solution you'd like**
Today, `klog` defaults to `0666` as file permission, when [opening](https://github.com/kubernetes/klog/blob/main/klog_file.go#L157-L163) or [creating](https://golang.org/pkg/os/#Create) a file.

Some compliance requirements, such as CIS benchmarks recommend, file permissions to be set minimally.
e.g. `0640`: `other` has no permissions on any file

[2021-07-08 02:27] dims commented on #251
cc @serathius

[2021-07-08 16:08] alex-vmw commented on #169
/remove-lifecycle stale

[2021-07-12 22:01] PushkarJ commented on #251
It seems like dividing the work in two different tasks would make sense:

[ ] Adding the flag and applying the permissions provided as value if the flag is present, defaulting to 0666 if flag not defined or if provided value is invalid
[ ] Input validation of the permission value (first character of string begins with 0, next three characters can be in range 0 to 7, Total length of string can not

[2021-07-12 22:37] serathius commented on #251
If you are targeting the kubernetes core components (apiserver scheduler controller manager etc), we are planning to drop file writing flags https://github.com/kubernetes/kubernetes/issues/99270#issuecomment-864605988

It might make more sense to not to invest more time in adding new flags to klog, but instead simplifying it.

[2021-07-12 23:01] PushkarJ commented on #251
@serathius thanks for the context, I was not aware of this discussion :)

This feature, was not intended for just k8s core components. One good example is the linked issue for antrea from @antoninbas . Is there a recommendation to manage file permissions outside of klog for such usecases?

[2021-07-13 02:12] yqwang-ms commented on #86
/remove-lifecycle stale

[2021-07-13 08:16] serathius commented on #203
/triage accepted

[2021-07-13 16:24] krmayankk commented on #203
@serathius is there any pending work here or is this already being worked on ? my team would like to help on some of these issues

[2021-07-13 16:32] serathius commented on #203
I have marked it as `triage accepted` as there is an open proposal for klog flag changes https://github.com/kubernetes/kubernetes/issues/99270#issuecomment-864605988
In this proposal I stated JSON should support both `v` and `vmodule`, so I think the issue can be worked on.

As the issue doesn't have any assignee nor anyone volunteering on comments, noone is current working on it. I would only say

[2021-07-13 16:35] serathius commented on #203
@krmayankk Please check out https://www.kubernetes.dev/docs/guide/first-contribution/#find-a-good-first-topic for intro into contributing

[2021-07-17 08:17] zwpaper commented on #251
@serathius , The idea of simplifying klog's flags is great! it is pity that only happened in component-base/log, how about adding some options to choose the klog flags, keeping the compatibility while be able to use only wanted flags.

if so I can raise a new issue for discussion and PR for implementation.

[2021-07-18 07:57] zwpaper commented on #67
I have tested the `v2.9.0`, logging in `init`, it printed in stdout, then use `initFlags` and `flag.Parse`, it could be logging into the target file with `--log_file` option.

Double-check in source code,
https://github.com/kubernetes/klog/blob/02ca14bed863fe45aa7544bbb0febef5db51163c/klog.go#L930

seems we could close this issue now.

@neolit123 @losipiuk

[2021-07-20 14:46] dan-lepage opened #253 "logr version problems"
/kind bug

**What steps did you take and what happened:**

[code]

**What did you expect to happen:**

I expected it to install

**Anything else you would like to add:**

logr v1.0.0 was released two weeks ago and has breaking changes - in particular, logr.Logger is a struct now instead of an interface. Until klog is updated to account for those changes, it would be great if you could update your

[2021-07-20 14:56] dims commented on #253
being discussed here https://github.com/kubernetes/klog/pull/242

[2021-07-20 15:02] dan-lepage commented on #253
#242 is about upgrading to logr v1.0; I'm wondering if in the short term you'd consider adding `exclude github.com/go-logr/logr v1.0.0` to your `go.mod` so that installation works until #242 is merged and released.

[2021-07-28 06:54] deyanp commented on #212
@lavalamp @dims any chance to get the PR of @pierluigilenoci approved? Sorry for jumping in, but I am affected by a pod for Azure AKS which is using this library and generating high log storage costs per month ...

[2021-07-28 10:23] dims commented on #212
@deyanp this is configurable from the command line as well as programatically, so sorry i don't see why the application developer using this library is unable to set this in one of those ways? can you please explain more?

[2021-08-02 13:41] pchan commented on #203
@serathius I am interested in working on this issue. As I understand from your proposal, this is one of the flags that needs to be supported while many of the rest will be deprecated.

[2021-08-02 15:08] suigh opened #255 "Need a way to update the log level dynamically"
/kind feature

**Describe the solution you'd like**
With `klog.SetLogLevel(int)`, we can update the klog level in a running process dynamically instead of restarting the process for the new log level. This is useful for debugging.

The log level here is the value of the -v flag.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-08-04 06:52] markusthoemmes opened #256 "Singular objects are formatted inconsistent with lists of objects in JSON formatting"
/kind bug

**What steps did you take and what happened:**

I setup a `kind` instance with JSON logging for the kubelet on verbosity 10

[code]

Then, I created a pod and grepped the logs for said pod.

A line with multiple pods (using the `"pods"` field) is printed like this

[code]

A line with a singular field (using the `"pod"` field) is printed like this

[code]

Note the difference: The forme

[2021-08-04 07:26] deyanp commented on #212
@dims , I cannot explain more, as I am not a contributor to the client library/application in question (using klog) - https://github.com/Azure/secrets-store-csi-driver-provider-azure ... My understanding is that the contributors of (e.g. @aramase ) are stating the bug is in klog ...

[2021-08-05 06:58] yuzhiquan commented on #256
Hi, @markusthoemmes
Thanks for feedback, we already implement `klog.KObjs` functions for this situation in klog, and here is work issue https://github.com/kubernetes/kubernetes/issues/102434
/cc @serathius

[2021-08-05 06:58] yuzhiquan commented on #256
/cc  @Priyankasaggu11929

[2021-08-06 01:58] yuzhiquan commented on #256
/close

Free to reopen if any questions.

[2021-08-06 01:58] #256 closed

[2021-08-11 02:02] morlay commented on #241
Hi. Have a new release？

Block https://github.com/kubernetes-sigs/controller-runtime/pull/1593

[2021-08-13 21:58] eclipseo opened #258 "TestVmoduleOn fails on klog 2.10.0 with Golang 1.17rc2"
/kind bug

**What steps did you take and what happened:**
1. Run tests on klog 2.10.0, on Fedora Rawhide with Golang 1.17rc2.
2. TestVmoduleOn fails:

[code]

**What did you expect to happen:**
Tests passing,

**Anything else you would like to add:**
This PR fixed the issue: https://github.com/kubernetes/klog/pull/204

[2021-08-15 04:12] jyz0309 commented on #169
Any updates?

[2021-08-20 12:11] #243 closed

[2021-09-02 04:18] dims commented on #258
@eclipseo thanks #204 is now merged

[2021-09-02 04:18] #258 closed

[2021-09-08 16:27] wojtek-t commented on #209
/remove-lifecycle stale

[2021-09-10 05:56] pohly commented on #241
v2.20.0 uses logr v1.1.0.

/close

[2021-09-10 05:56] #241 closed

[2021-09-10 05:59] pohly commented on #253
v2.20.0 uses logr v1.1.0. One still has to be careful with `get get -u ./...` because all dependencies must switch to the new logr API.

/close

[2021-09-10 05:59] #253 closed

[2021-09-10 06:05] pohly commented on #87
This worked for me:
[code]

It uses a custom flag set to avoid interactions with the normal flags of the program. `flags.Set` then suppresses the default output to stderr.

[2021-09-10 06:11] pohly opened #262 "KObj + ObjectRef not logged as struct by zap"
/kind bug

**What steps did you take and what happened:**

I tried how the JSON format in Kubernetes prints ObjectRef, the struct returned by KObj, and found that it prints `<namespace>/<name>`, i.e. the same as the plain text format.

**What did you expect to happen:**

It is meant to be logged as struct with (`{"name":<name>, "namespace":<namespace>}`).

**Anything else you would like to add:**

[2021-09-10 06:17] pohly commented on #262
Possible solutions:
- fork zap.Any in zapr and remove support for fmt.Stringer
- implement [`MarshalLogObject`](https://github.com/uber-go/zap/blob/eaeb0fc72fd23af7969c9a9f39e51b66827507ca/zapcore/marshaler.go#L30-L32) in klog

I prefer implementing `MarshalLogObject`. It's a clean solution that also should be faster than relying on reflection for the struct.

[2021-09-10 06:43] pohly commented on #262
The solution with `MarshalLogObject` is in https://github.com/pohly/klog/commit/730ec78dc104db49e89e4d597dc93e6af3087474

That's part of [a branch](https://github.com/pohly/klog/commits/testinglogger-kobj2) where I already added the zap dependency. Output now is:
[code]

[2021-09-13 08:19] pohly commented on #262
The (incomplete) solution with `logr.ObjectMarshaler` is in modified versions of logr, zapr, and klog and gets pulled together in https://github.com/kubernetes/kubernetes/pull/104877.

Needs further work:
- decide which parts of `zapcore.ObjectEncoder` we want to add to `logr`
- more tests

[2021-09-14 19:39] thockin commented on #262
I don't hate the logr impl, but it seems convoluted and really aimed at zap.  I guess I'd want to see how, for example, glogr would implement it.

The klog impl is nice because it is very contained, even if it has a zap coupling internally.  I'd lean towards that - if/when string output goes away we can remove it and the Stringer methods?

[2021-09-15 05:47] pohly commented on #262
Regarding removing support for `fmt.Stringer`: I don't like that because
- it's a breaking change in zapr and would have to be made optional, with support enabled by default
- when we disable support in Kubernetes, JSON formatting becomes different than how zap normally works, which means we need to educate developers about it and be more careful during code reviews to avoid accidentally logging m

[2021-09-15 05:57] pohly commented on #262
One could also argue that it is the opposite: it enables non-zap loggers to offer similar functionality as zap.

I suppose the [type switch in funcr](https://github.com/go-logr/logr/blob/59f23134cf4fcc453d6a89a369ed252f1b08242c/funcr/funcr.go#L172-L207) could be extended to check for the interface. The actual implementation of the encoder interface then needs to fill a buffer with the values passe

[2021-09-15 13:54] dims commented on #262
@liggitt can you please chime in? (folks who use just client-go will end up vendoring zapr from what i can tell)

[2021-09-15 13:58] liggitt commented on #262
adding zap as a dep of klog doesn't seem great

[2021-09-15 14:30] pohly commented on #262
They need zap (not zapr), and only the interface definitions. If they don't use the new interface, then none of zap is going to be compiled into binaries. Vendoring is going to be a bit more costly.

The alternatives aren't great either :cry:

[2021-09-15 14:32] pohly commented on #262
I was wondering whether the zap maintainers could be convinced to put the interface definitions into a completely stand-alone module. Backward compatibility could be preserved by aliasing those types in zap and zapcore.

[2021-09-15 14:37] serathius opened #264 "logcheck doesn't handle Exit* functions correctly"
/kind bug

klog defines set of functions Exit, Exitf, Exitln, ExitDepth. Those functions are not correctly handled by logcheck. https://github.com/kubernetes/kubernetes/pull/103293#issuecomment-885028839

**What steps did you take and what happened:**

When running logcheck to validate log calls, it reported Exitf as structured logging method
[code]

**What did you expect to happen:**

I would exp

[2021-09-15 14:38] pohly commented on #262
Yet another alternative:
- stop using the KObj/KRef code from klog in Kubernetes
- instead implement in-tree, for example in src/staging/k8s.io/component-base/logs, with the zap dependency

From a practical point of view that's worse for Kubernetes (need two imports for logging instead of one), but conceptually it might be cleaner (normal users of klog shouldn't need it, so perhaps it shouldn't ha

[2021-09-15 14:44] serathius commented on #264
/wg structured-logging
/cc @kubernetes/wg-structured-logging-members
/milestone v1.23

[2021-09-15 14:52] luyou86 commented on #264
could assign it to me?

[2021-09-15 14:56] serathius commented on #264
/assign @luyou86
Automation will only allows to assign issues to members of K8s org, but we can agree to unofficially assign it to you. Feel free to work on it.

[2021-09-15 14:56] serathius commented on #264
Done

[2021-09-15 14:58] serathius commented on #264
Please let me know if you need any help (and nag me if I don't respond, best to reach me via a K8s Slack)

[2021-09-15 14:59] luyou86 commented on #264
ok, thx

[2021-09-15 16:28] thockin commented on #262
I didn't consider the downstream implications for client-go.  I very much
want users of client-go to be able to pass in any logr.Logger they like.
We should not be dictating which log lib to use.  Ideally klog breaks the
explicit dep on  any implementation - neither glog nor zap nor anything.

Is this the ONLY reason klog would dep on zap?

On Wed, Sep 15, 2021 at 7:38 AM Patrick Ohly ***@***.***>

[2021-09-15 16:33] pohly commented on #262
That still works. The dependency on zap in klog is completely optional: if zap is not used as logger, the code is never used.

The bigger question is whether we want to support serialization as struct also with other loggers and if so, how. The new logr API would enable that.

[2021-09-15 17:31] thockin commented on #262
I don't  understand - if the code is in klog, the deps are  required, even
if never used?

On the one hand, maybe we should just leave this as an implementation
decision for different LogSinks.  funcr chooses not to call .String(), zapr
does call it.   I don't think we can really force all implementations to
support a no-method mode for this particular type.

On the other hand, I know we are hopin

[2021-09-15 17:43] pohly commented on #262
The dependency is only needed to build one method: `MarshalLogObject` (= https://github.com/kubernetes/klog/blob/b2c90829cb4c51bfddcc05826db9e05fba294356/klog.go#L1598-L1606) must take a `zapcore.ObjectEncoder` as parameter, otherwise `ObjectRef` doesn't implement the `zapcore.ObjectMarshaler` interface that zap checks for. Only zap checks for that interface. All other loggers ignore it.

support

[2021-09-15 17:49] pohly commented on #262
What would fit into such a type switch is implementing a `logr.UseReflection` interface with a `LogWithReflection()` method that never gets called. The mere existence of that interface could be used by zapr to skip `String` for `ObjectRef`.

This feels a bit hacky, but perhaps it's the least evil solution. I can prototype that tomorrow.

[2021-09-15 18:50] thockin commented on #262
Maybe we (I) need to step back and re-examine the experience we want.

I'd like to see use get to a  place where users of client-go can so something like:

[code]

If `MakeNewLogger()` uses zap, fine, but if not my app should NOT have an indirect dependency on zap.

Within client-go we use klog.  IMO, that MUST NOT cause a dependency on zap.  We could fix that by not using klog or by not having kl

[2021-09-15 18:56] liggitt commented on #262
strong agree

[2021-09-15 22:46] dims commented on #262
Me as well!

[2021-09-16 06:17] pohly commented on #262
One additional argument why an interface like `zap.ObjectMarshaler` might be useful for logr: reflection cannot be used to log unexported fields. Just an observation, I'm not convinced yet myself that this is important enough to justify the effort of adding such an API.

[2021-09-16 14:58] serathius commented on #203
cc @pohly

[2021-09-16 15:45] pohly commented on #203
I looked into this. See https://github.com/pohly/zapr/commits/vmodule

My conclusion from that experiment was that the solution would be awkward because conceptually it is the zap core which checks for "enabled" and vmodule support would have to be added there instead of the zapr wrapper. But I doubt that zap would accept such a feature request because it is not clear that it is important enough.

[2021-09-16 15:47] grosser commented on #203
I opened this request because I wanted to be able to silence some modules from kubernetes logs, no consideration to performance was made :)

[2021-09-17 07:19] #264 closed

[2021-09-17 13:12] pohly commented on #203
Do you still think this feature would be useful?

[2021-09-17 14:34] grosser commented on #203
yes, it's also part of https://github.com/kubernetes/kubernetes/issues/99270
in general making structured json better seems like the right direction to me

[2021-09-17 15:10] serathius commented on #203
Two things:
* "better" doesn't nesesery means "having more features". This feature has pretty high performance overhead so still discussing if to keep it
* As for "JSON should supporting same set of features as klog", it doesn't mean that we plan to implement all features. This issue is mostly about deprecating features that doesn't make sense long term so that in result features are the same.

[2021-09-20 06:52] pohly commented on #203
@serathius: Perhaps add a question mark to the title of https://github.com/kubernetes/kubernetes/issues/99270? Then people who find that issue will know immediately that the issue was about discussing that, not stating the end goal.

[2021-09-27 14:31] daemon1024 commented on #214
I would like to look into this 🤓 /assign

[2021-09-27 16:53] RinkiyaKeDad commented on #214
/assign @daemon1024

[2021-09-28 11:34] shivanshu1333 commented on #214
Hey @daemon1024 can you please give us a rough estimate as in how much time it will require to come up with a fix for this?
I'd suggest you to go through review comments of https://github.com/kubernetes/klog/pull/220, it will give you an idea about the expected fix.
https://github.com/kubernetes/kubernetes/pull/103293 is ready to merge and is blocked by this, if you need any help please feel free

[2021-09-28 11:36] shivanshu1333 commented on #214
/priority important-soon

[2021-09-28 11:39] shivanshu1333 commented on #214
/remove priority important-longterm

[2021-09-28 11:41] shivanshu1333 commented on #214
/remove-priority important-longterm

[2021-09-28 12:16] daemon1024 commented on #214
@shivanshu1333 I have went through the relevant discussions. I am currently in process of setting up and reproducing it. I will have a fix or some concrete update by the end of the week.
Thank You I will make sure to reach out if I face some issues.

[2021-09-28 12:19] shivanshu1333 commented on #214
That's awesome, thanks!

[2021-09-28 17:41] jwmajors81 commented on #212
I came across this same issue today when using the cluster-autoscaler.   I concur with what others have stated here about the fact that  stderrthreshold was not honored when logtostderr was set to true.  However, it is honored when logtostderr is set to false.  In addition, if you want to log to stderr then you can set logtostderr to false and then set stderrthreshold to a value that is less than

[2021-11-01 02:27] suigh commented on #255
/close

[2021-11-01 02:27] #255 closed

[2021-11-01 15:50] serathius commented on #203
/retitle support vmodule for json logger?

[2021-11-22 09:41] serathius commented on #239
/remove-lifecycle rotten
/cc @pohly

[2021-11-22 10:08] pohly commented on #239
I'm working on a KEP for this. The logr API already supports this, we "just" need to figure out how to use that in Kubernetes.

/assign

[2021-11-23 11:05] #248 closed

[2021-11-24 13:26] serathius commented on #209
@marseel Info log buffering was implemented in v1.23 kubernetes as part of JSON log format. Please check if this fulfills your requirements.

[2021-11-30 15:20] pohly opened #274 "logcheck: does not handle slice... as parameter"
/kind bug

**What steps did you take and what happened:**

I wrote test code which does
[code]

I.e. the parameters are variables and the key/value pairs are not known at compile time.

The tool complained:
[code]

**What did you expect to happen:**

That should not trigger an error

/sig instrumentation
/wg structured-logging

[2021-11-30 15:21] pohly commented on #274
This blocks https://github.com/kubernetes/kubernetes/pull/106594

[2021-11-30 15:45] pohly commented on #274
@serathius [explained](https://github.com/kubernetes/kubernetes/pull/106594#discussion_r759382347) that:

The workaround is okay. However, let's keep this issue open and enhance the error message.

[2021-11-30 20:55] pohly opened #275 "structured logging: handle unusual keys?"
/kind feature

**Describe the solution you'd like**

The current design decision is to dump keys as strings without any checks. If those keys contain spaces, line breaks, or other weird characters, then the log output will get messed up.

Presumably this was done for the sake of performance. We should measure the impact of validating keys and substituting unsafe ones. If the overhead is acceptable

[2021-12-01 07:55] mengjiao-liu commented on #274
Looks like we need to improve the` logcheck` script.
https://github.com/kubernetes/klog/blob/9ad246211af1ed84621ee94a26fcce0038b69cd1/hack/tools/logcheck/main.go#L146-L149

[2021-12-01 09:13] pohly commented on #236
This didn't solve the problem for JSON. There the byte slice will be dumped as a [base64 encoded string representation of the bytes](https://stackoverflow.com/a/34089818).

IMHO the right solution for byte slices that are meant to be treated like strings is to convert to string before logging.

Let's reopen to discuss this further. We may have to put this into the migration guide.

/reopen
/wg str

[2021-12-08 08:26] shivanshu1333 commented on #236
Thanks, @pohly for pointing this out, I agree with

[2021-12-13 20:57] jianjuns commented on #169
/remove-lifecycle rotten

[2021-12-14 10:00] #251 closed

[2021-12-14 14:47] pohly commented on #262
Solved with `logr.Marshaler` support in zapr and `ObjectRef`.

/close

[2021-12-14 14:48] #262 closed

[2021-12-14 17:50] antoninbas commented on #251
/reopen
/remove-lifecycle rotten

[2021-12-17 08:31] pohly commented on #239
Here's the KEP: https://github.com/kubernetes/enhancements/pull/3078

[2021-12-17 20:11] pohly opened #278 "segfault for nil fmt.Stringer"
/kind bug

**What steps did you take and what happened:**

Unit tests in Kubernetes segfault (https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/107103/pull-kubernetes-unit/1471877384482328576/build-log.txt):

[code]

**What did you expect to happen:**

We probably need to emulate what `fmt.Sprintf("%q", <nil stringer>)` did - whatever that is.

[2021-12-17 21:34] pohly commented on #278
The code which passes `networkReady` = nil is https://github.com/kubernetes/kubernetes/blob/a1e8a5bf39d48719dfbcf49ea09223ee04840502/pkg/kubelet/kubelet.go#L2334-L2335

[2021-12-21 08:57] Monokaix commented on #188
@fejta-bot @Himanshuxone leak problem seems still exists, can we reopet it and fix?

[2021-12-26 13:58] Himanshuxone commented on #188
@Monokaix yes I have installed the new version of Klogs I can see the go routines are still leaking

[2022-01-03 17:01] pierluigilenoci commented on #212
/remove-lifecycle stale

[2022-01-17 11:06] katexochen opened #282 "go routine created on flush logs leaks"
/kind bug

**What steps did you take and what happened:**
uber/goleak found a leaking goroutine during test run:
[code]
Previous mentioned in #188.
#190 tried to fix this.
I'm opening a new issue since both are closed now but the problem still exists.

[2022-01-23 12:53] shivanshu1333 commented on #214
/remove-lifecycle stale

[2022-01-24 17:44] astoycos commented on #282
I also saw this recently when debugging [#107372](https://github.com/kubernetes/kubernetes/issues/107372)
[code]

[2022-01-31 20:32] dims commented on #222
@ehashman given what's in OWNERS now https://github.com/kubernetes/klog/blob/main/OWNERS what do you want to do here? i am happy to close it.

[2022-02-04 14:08] pohly commented on #282
Starting a goroutine in init looks really bad to me. This should be under the control of the user of the package. I recently fixed flushing in Kubernetes and had no idea that klog was also doing it internally :sad:

@dims do you think we can move that out of `init` into a separate function that explicitly needs to be called by those who want this? Strictly speaking, this is a user-visible change o

[2022-02-04 14:09] pohly commented on #239
/assign

The KEP was approved. I'll work on this.

[2022-02-04 14:11] pohly commented on #239
It's worth pointing out that the solution will not be exactly as in the description. Have a look at the KEP for the proposed API.

In contrast to what is currently described in the KEP, we'll probably just add `FromContext` to klog itself and not introduce a separate klogr.

[2022-02-04 14:11] pohly commented on #274
/assign

[2022-02-04 14:20] pohly opened #284 "handle panics in error.Error"
/kind feature

**Describe the solution you'd like**

When klog calls error.Error(), it should catch panics the same way it currently does for fmt.Stringer().

/assign

[2022-02-07 07:18] pohly commented on #282
Perhaps there is a way to solve this without breaking users who currently expect automatic flushing. Flushing only does anything when createFiles is called, because that is the only place where syncBuffer is created:

https://github.com/kubernetes/klog/blob/e7e411501098c01958a92f02d7c3d0286725a3c4/klog.go#L1267-L1285

Without syncBuffer, there's nothing that needs to be flushed. In particular, Set

[2022-02-07 07:19] pohly commented on #282
/help

[2022-02-07 11:01] pohly commented on #282
`go test` runs the existing tests, but I doubt that it covers flushing of data. Adding some unit tests for this would be good.

[2022-02-07 12:36] pohly opened #285 "logging.logger and logging.filter: insufficient mutex protection"
/kind bug

**What steps did you take:**

Code reading...

**What did you expect to happen:**

SetLogger/ClearLogger/SetFilter lock logging.mu, which implies that they were meant to be concurrency-safe. However, several other functions access the underlying fields *without* locking, so that protection is currently useless.

https://github.com/kubernetes/klog/blob/e7e411501098c01958a92f02d7c3d028672

[2022-02-07 12:38] pohly commented on #285
I'm leaning towards updating the documentation and not adding mutex locking. That seems more useful in practice and in particular will not make klog worse for those who don't use SetLogger or SetFilter.

[2022-02-07 13:15] pohly opened #286 "klogr: optimize trimDuplicates"
/kind feature

**Describe the solution you'd like**

This function looks very complex and probably does a lot of memory allocations in its append calls:

https://github.com/kubernetes/klog/blob/e7e411501098c01958a92f02d7c3d0286725a3c4/klogr/klogr.go#L73-L116

It removes duplicates also from the parameters of a call, something that the static logcheck utility can warn about. Therefore a simpler imp

[2022-02-07 13:15] pohly commented on #286
/assign

[2022-02-07 21:42] pohly opened #288 "unit testing of SetLogger"
/kind feature

**Describe the solution you'd like**

https://github.com/kubernetes/klog/pull/280 broke stack unwinding when using a logr.Logger as logging implementation. This was caught when trying out the modified klog before a release with these tests:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/logs/json/klog_test.go

Here's an idea how we can preven

[2022-02-09 17:29] divmadan opened #291 "multi-line string: `klog.InfoS` prints ASCII escape characters; `klog.Info`, `klog.InfoS` has anomalies"
/kind bug

For a string variable `output`:
[code]

1. `klog.InfoS` prints ASCII escape characters (`\x1b`) for value string in key-value pairs.

    - `klog.Info("output", output)` prints (desired):
[code]

    - `klog.InfoS("", "output", output)` prints:
[code]

2. `klog.Info` is removing other arguments and not printing logging info in case another argument of multi-line string is present.

[2022-02-09 19:40] pohly commented on #291
I have troubles following what exactly isn't working as expected. Can you provide simple source code snippets that show which invocations don't work as expected and for each show what the expected and actual output is?

[2022-02-09 19:41] pohly commented on #291
Ideally you split this up into separate issues.

[2022-02-10 06:37] pohly commented on #285
Resolved via https://github.com/kubernetes/klog/pull/289

/close

[2022-02-10 06:38] #285 closed

[2022-02-10 10:39] pohly commented on #291
Which version of klog are you using?

Your `output`  variable seems to contain various console control characters. I suspect `klog.Info` just dumps those literally into the log output, as requested. Could it be that the logging info is printed but then gets overwritten by the content of `output` because of a carriage return?

Here's an example (from https://unix.stackexchange.com/questions/374592/

[2022-02-10 12:51] #291 closed

[2022-02-10 13:16] pohly commented on #291
Multi-line output for InfoS was added in v2.40.0.

A simplified version would have been possible, but that's mute because it looks like `klog.Info` is working as intended.

[2022-02-11 05:49] divmadan commented on #291
Great, that makes sense.

Sure, for clarification, using the same example:

1. `klog.InfoS`:
[code]

    `v2.30.0`:
[code]

    `v2.40.1`:
[code]

2. `klog.Info`:
[code]
    `v2.30.0` and `v2.40.1`:
[code]

***

Final issue resolution:
1. `klog.InfoS` prints ASCII escape characters (\x1b) for value string in key-value pairs.

2. `klog.Info` is removing other arguments and not printing logging info

[2022-02-14 12:28] sbueringer opened #294 "klog always logs verbosity 0 with component-base/logs"
/kind bug

**What steps did you take and what happened:**

I'm currently trying to use `component-base/logs` in combination with controller-runtime in ClusterAPI (https://github.com/kubernetes-sigs/cluster-api/pull/6072).
When using `--logging-format=json` the log lines contain `v: 0` independent of the log level with which the line is actually logged.

**What did you expect to happen:**
Should lo

[2022-02-14 12:29] sbueringer commented on #294
cc @dims @pohly

[2022-02-14 12:31] sbueringer commented on #294
cc @fabriziopandini @killianmuldoon

[2022-02-14 12:38] pohly commented on #294
/assign

I intend to add a unit test to the [new "test" package](https://github.com/kubernetes/klog/pull/287) for this and then fix it.

[2022-02-14 12:39] sbueringer commented on #294
Happy to re-test with a branch/PR if it is helpful, but the issue seems to be relatively straightforward.

[2022-02-14 15:35] #288 closed

[2022-02-15 11:17] pohly commented on #222
Are we sure everyone listed in OWNERS is still active and will respond to review resp. approve requests?

[2022-02-15 22:07] #294 closed

[2022-02-16 21:30] fabriziopandini commented on #294
Thanks for the quick fix! awesome!

[2022-02-17 17:03] pohly opened #300 "KObj: avoid reflection"
/kind feature

**Describe the solution you'd like**

https://github.com/kubernetes/klog/blob/84f3ebd27f1b9c42a6da9e3c1958c39ec4a9d043/klog.go#L1575-L1577 is used to detect whether using the KMetadata instance is likely to crash. This targets one particular case (nil pointer to Kubernetes object), but isn't a generic solution.

It also might be slower that simply calling the `Name` and `Namespace`

[2022-02-17 19:38] pohly opened #301 "utility function for "flush and exit""
/kind feature

**Describe the solution you'd like**

For the migration to structured logging, `klog.Fatal` is meant to be replaced with `klog.ErrorS + os.Exit`. However, that combination no longer flushes info messages.

We need a better recommendation and probably some new helper function in klog. For proposals, see https://github.com/kubernetes/kubernetes/pull/107724#discussion_r809325345

[2022-02-18 08:47] serathius commented on #300
/help

[2022-02-21 07:20] #284 closed

[2022-02-22 14:53] sbueringer opened #302 "Consider handling values that implement the Stringer interface when logging values"
/kind feature

**Context**

When using klog today values are formatted like this: (as far as I'm aware)

This means the following log statement:

Leads to ~ this log:

The following log statement will lead to a correct log:

log:

**Describe the solution you'd like**

I think it would be great if the `.String()` call is not necessary, so it cannot be forgotten.

To make this possible klog would ha

[2022-02-22 15:11] pohly commented on #302
What is `log` here?

[2022-02-22 15:18] pohly commented on #302
I have a suspicion: are you using klogr with [`FormatSerialize` (the default)](https://github.com/kubernetes/klog/blob/e0de69075b14afab3a1798182f605bc4cd5f9841/klogr/klogr.go#L25-L27)? I think that one tries to produce JSON-like output.

Try using `FormatKlog`. Then key/value pairs are passed through to `klog.InfoS` and that output format will call `Stringer`.

[2022-02-22 15:25] serathius commented on #209
Closing as feature was implemented.
/close

[2022-02-22 15:25] #209 closed

[2022-02-22 15:52] sbueringer commented on #302
The logger is the same as described on my previous issue: https://github.com/kubernetes/klog/issues/294

We are currently using the `Serialize` format for logging-format=json and `Klog` for logging-format=text.
(we have to do this because otherwise we get "double-serialization" with json).

I could observe the issue with both, though. I'll update my minimal example here (https://github.com/sbuerin

[2022-02-22 16:02] sbueringer commented on #302
I can reproduce it with both:
* --logging-format = json (from component-base/logs) => with `klogr.NewWithOptions(klogr.WithFormat(klogr.FormatKlog))`
* --logging-format = text (from component-base/logs) => `klogr.New()`

json:
[code]

text:
[code]

[2022-02-22 16:13] sbueringer commented on #302
If I see correctly:
* FormatSerialize just renders the value via `json.NewEncoder().Encode()` in `pretty` (in `flatten`)
* FormatKlog passes the values through as klog.ObjectRef to zap (in case of component-base/logs as they've implemented a backing JSON logger with zap).

[2022-02-23 07:10] pohly commented on #302
This line is what I suspected:
https://github.com/sbueringer/cr-klog-issue/blob/a15fa1bea6cc56ad21b6a4a648e67f00ca507700/main.go#L57

You end up using the klogr output format, which is yet another way to format things. We kept it for backward-compatiblity and also couldn't change the default for `klogr.New`, but IMHO it is obsolete and shouldn't be used anymore.

When I use `klogr.NewWithOptions(k

[2022-02-23 07:33] sbueringer commented on #302
Ah thx for the background information.

Up until now, I only switched to `FormatKlog` because I definitely had to for JSON logging, but I wasn't aware that I should have used it for both formats.

Now I would want to use it for both formats (even for consistency alone), why is it obsolete and shouldn't be used anymore? (just so I have some arguments if someone asks as I would want to change that f

[2022-02-23 08:44] pohly commented on #302
It doesn't provide any advantages over the other formats and is worse:
- it's not machine readable (in contrast to pure JSON via zapr)
- IMHO it's less readable for humans (in contrast to the original klog text format)

You might also want to look at https://github.com/kubernetes/enhancements/pull/3222. I think your current approach will continue to work, but there is an opportunity to simplify lo

[2022-02-23 10:10] sbueringer commented on #302
Thank you very much!

I assume this PR implements the KEP: https://github.com/kubernetes/klog/pull/296. Tried it for my use case and it looks good overall.

Just fyi. It looks like with JSON the level is currently not preserved. I think it get's lost here: https://github.com/kubernetes/klog/blob/56f831b06c746464200e978f801ec9952ec4a189/klogr.go#L38-L44

[code]

[2022-02-23 12:42] pohly commented on #302
Thanks for testing, I'll update the PR.

/close

[2022-02-23 12:42] #302 closed

[2022-02-23 20:45] fabriziopandini commented on #302
@pohly many thanks for the quick and detailed answers, really appreaciated!

[2022-02-23 22:04] pohly commented on #302
You are more than welcome to join us in the [structured logging working group](https://github.com/kubernetes/community/tree/master/wg-structured-logging) :smile:

[2022-02-27 21:15] #282 closed

[2022-03-01 07:43] pohly commented on #275
/remove-lifecycle stale

[2022-03-01 07:43] pohly commented on #275
/help

[2022-03-03 05:26] dharmjit commented on #300
/assign

[2022-03-03 07:00] dharmjit commented on #300
Thanks @pohly for providing more context in the slack convo. Below are the benchmark results for existing/newer`KObj` implementation. I see that the results do not reflect what is expected. Am I missing something?
[code]
Existing implementation:
[code]
Updated implementation:
[code]
`Benchstat` Results
[code]

[2022-03-03 09:00] pohly commented on #300
This isn't entirely unexpected. Instead of avoiding a nil pointer access (current approach) the new approach is to let the access happen and then recover from it. That is expensive.

But it may still be worthwhile if it makes the common case of not hitting a nil pointer faster. Can you post the results for the existing KObj benchmark, too?

[2022-03-03 09:24] dharmjit commented on #300
Results for existing implementation for nil pointer are already posted in the above comment. Below are the results with well-formed parameters for both the implementations.

Existing implementation:
[code]
Updated Implementation:
[code]
`Benchstat` Results
[code]

[2022-03-03 10:20] pohly commented on #300
So it's not faster for the well-formed calls either. Looks like the `reflect.ValueOf` call is cheaper than the `defer + recover()` combination.

That leaves "more complete solution" as the only reason for using the second approach. Given that it has been shown to be slower, that IMHO isn't sufficient to change anything.

[2022-03-03 15:52] pohly commented on #301
We discussed this in WG Structured Logging and propose to
use this:
[code]

[2022-03-07 03:50] dharmjit commented on #300
Anything else you wanted me to take a look at.

[2022-03-08 10:33] pohly commented on #236
/remove-lifecycle stale

[2022-03-10 06:07] #86 closed

[2022-03-17 16:08] pohly commented on #300
I think we can close this issue here. https://github.com/kubernetes/kubernetes/issues/106945 is kind of related (also about performance).

/close

[2022-03-17 16:08] #300 closed, assigned to dharmjit

[2022-03-17 16:48] ehashman commented on #222
@dims given who's in the OWNERS file now, many of whom have gone emeritus, we think this is still relevant. @serathius will run your maintainers script to update the list.

[2022-03-17 17:17] serathius commented on #222
Done https://github.com/kubernetes/klog/pull/309

[2022-03-17 18:48] ehashman commented on #222
/close

[2022-03-17 18:48] #222 closed

[2022-03-20 19:15] pohly opened #312 "release strategy for logcheck"
/kind feature

Right now, logcheck doesn't get released "properly" (no tag, no release notes). Kubernetes imports it via the commit hash (https://github.com/kubernetes/kubernetes/blob/0ade4678a7ba527d22f6baa81034dea423267608/hack/tools/go.mod#L14).

We could:
- tag it with `hack/tools/v0.1.0`
- move it to a separate repo
- do nothing and keep importing it via hash

**Describe the solution you'd li

[2022-03-23 15:33] pohly opened #316 "dumping stacks during klog.Fatal"
/kind bug

**What steps did you take and what happened:**

https://github.com/kubernetes/klog/pull/79 changed the behavior of klog.Fatal so that it prints *all* goroutines when writing to stderr (the default). Depending on the program, this generates a huge amount of output which often is harmful (console scrollback buffer overlows, large log files in Kubernetes Prow jobs).

**What did you expect

[2022-03-23 15:35] pohly commented on #316
Whether structured output is possible remains to be seen. We also would need to decide how to structure it.

[2022-03-24 12:48] pchan commented on #316
I took a cursory look and found that we maybe missing a "line" version.  This is present in the other APIs.

For example :
Infoln
Errorln

Do we need such a version for this too ?

[2022-03-24 12:53] pohly commented on #316
The "line" variants are applicable to functions which do unstructured output formatting. What would be the effect here?

[2022-03-24 13:01] pohly commented on #316
A better API is probably to use functional options:
[code]

This avoids the proliferation of different variants with different semantic and allows us to extend the API in the future.

[2022-03-24 14:03] pohly commented on #312
[Jordan's preference](https://github.com/kubernetes/kubernetes/pull/108159#discussion_r834295863) is to move it to a separate repo.

[2022-03-24 14:09] dims commented on #312
+1 from me (separate repo)

[2022-03-24 14:20] RinkiyaKeDad commented on #312
I can help with this. We'd need to create a PR to https://github.com/kubernetes/org for the repo request. Are we fine with simply taking the current code and starting fresh in a new repo, that is, not preserving the commit history?

/assign

[2022-03-24 14:24] pohly commented on #312
Let's preserve history. Git can do it and there is valuable information in the commit history that shouldn't get lost.

I would to it with "git format-patch hack/tools/logcheck", mangling paths, and "git am". There are of course other options.

[2022-03-24 14:52] dims commented on #312
@pohly need to poke the sig-instrumentation leads i think as they will be the owner?

[2022-03-25 11:32] RinkiyaKeDad commented on #312
Yup, I can take care of that! Will continue this discussion about the repo name there.

[2022-03-25 19:37] liggitt commented on #214
fixed by https://github.com/kubernetes/kubernetes/pull/108159

/close

[2022-03-25 19:37] #214 closed

[2022-03-28 07:26] pohly opened #317 "capture klog output without SetBuffer"
/kind feature

**Describe the solution you'd like**

There are several unit tests which temporarily use `SetBuffer` to capture log output. There have been several cases where this led to race conditions:
- https://github.com/kubernetes/kubernetes/issues/108040
- https://github.com/kubernetes/kubernetes/pull/98944
- https://github.com/kubernetes/kubernetes/pull/108553

Once we have contextual loggi

[2022-03-28 07:27] pohly opened #318 "restore state in unit tests"
/kind feature

**Describe the solution you'd like**

There are several unit tests which temporarily modify global klog state, for example to capture log output. There have been several cases where this led to race conditions:
- https://github.com/kubernetes/kubernetes/issues/108040
- https://github.com/kubernetes/kubernetes/pull/98944
- https://github.com/kubernetes/kubernetes/pull/108553

Besides

[2022-03-30 12:32] pchan commented on #316
I have a couple of questions.

1. Does skip imply "shave off the top n frames" ?
2. Will the size do the opposite i.e. return the top numFrames ?
3. What does "all" bool parameter mean in BackTraceAll ? Is it a toggle for "All". The API itself implies "All" is on right ?

While looking at the implementation specifics, the BacktraceAll (Depth) presents a problem. The current BackTrace goroutine sta

[2022-03-30 17:25] pohly commented on #316
With `skip = 0`, the backtrace starts at the direct caller. With `skip = 1`, one level is skipped, etc.

No, it will limit how far unwinding goes. It will still start at the usual stack frame. For `numFrames = 1`, only a single stack frame gets recorded.

This will be useful for testing: the direct caller and (depending on the test code) a few levels above it are fixed, but go too far and we end u

[2022-03-31 03:56] pchan commented on #316
I understand what All means. The BacktraceAll API itself means "all" is
enabled right ? Why do we need the bool parameter? A sample implementation
[1] below to better understand the problem.

Does the skip/size make sense for the BacktraceAll? Can we ignore skip/size
parameters if "all" is specified and just return the entire backtrace of
all goroutines.

[1]
func BacktraceAll() BacktraceOption {

[2022-04-01 08:41] pohly commented on #316
`BacktraceAllGoroutines` has a parameter because is sometimes convenient to write code like this:
[code]

This is open for debate. gRPC doesn't use a parameter (for example, [WithDisableRetry](https://pkg.go.dev/google.golang.org/grpc#WithDisableRetry). In zapr, I used boolean parameters and [Tim was fine with that](https://github.com/go-logr/zapr/pull/37#issuecomment-904894271).

[2022-04-01 10:38] pchan commented on #316
Ah, Thanks for the context. I will keep the bool parameter for
BacktraceAllGoroutines.

On Fri, Apr 1, 2022 at 2:11 PM Patrick Ohly ***@***.***>
wrote:

[2022-04-04 07:55] pierluigilenoci commented on #212
/remove-lifecycle stale

[2022-04-04 07:57] pierluigilenoci commented on #212
This is a really big bug, I'm amazed that nobody cares. 🙌🏻

[2022-04-04 08:10] munnerz commented on #212
@pierluigilenoci I'd refer you again to the comment above - based on responses to this issue, it seems like it is far more important of an issue for you than it is for others. This is a community, collaborative project which means you are equally able to work on a patch and fix this 😊 changing lifecycle labels alone won't drive this issue closer to completion.

[2022-04-04 08:11] munnerz commented on #212
Ah, I see your draft PR open too - my bad 😊 are you able to work on this and drive it to a non-draft state?

[2022-04-04 08:33] pohly commented on #212
And do it without breaking compatibility with existing users of klog?

[2022-04-04 08:41] pierluigilenoci commented on #212
@munnerz my PR needs to be fixed and I still haven't found the time to do it.
I also have little drive to do it because I know it wouldn't be particularly appreciated anyway.
@pohly for me, a fix for this bug may not be backward compatible.

[2022-04-04 09:23] pohly commented on #212
That's the key problem then: we cannot break existing users unless it is a clear bug fix that everyone wants, and in this case it just seems about confusing behavior. The issue descriptions asks "Is this the expected behavior?" and the answer is "probably, because that is what the current implementation does".

[2022-04-04 10:02] pierluigilenoci commented on #212
@pohly the answer to "Is this the expected behavior?" is certainly:
"Absolutely not but changing it breaks things so we keep it broken". 😉

[2022-04-04 10:08] pierluigilenoci commented on #212
From [Klog docs](https://pkg.go.dev/k8s.io/klog)
[code]

[2022-04-04 10:41] pohly commented on #212
According to this, `-stderrthreshold` only applies when writing to files and stderr ("Log events at or above this severity are logged to standard error as well as to files.").

The name could be clearer, but that ship has sailed.

A bug fix would be to say:
[code]

[2022-04-04 10:45] pohly commented on #212
What you want is:
[code]

That is a change of existing functionality.

In this case, "intended behavior" = "what was implemented and users started to rely upon", not "how command line flags might be understood".

[2022-04-04 11:08] pierluigilenoci commented on #212
What users "rely upon" is a side effect of a "bad" implementation or "poor" documentation writing.
For me, it is the first since I find the second interpretation a stretch.

In my opinion, there is little to interpret in the docs.

- `logtostderr` is pretty clear: errors only go to `stderr`. No doubt.
- `alsologtostderr` says that the logs go to both sides, `stderr` and `file`. No doubt.
The only

[2022-04-04 11:21] pierluigilenoci commented on #212
In fact, in a pragmatic way, I had added, in my PR, a new flag called `alsologtostderrthreshold` that acts exactly on what you say. To put a filter for `alsologtostderr`.

I got stuck when I saw that I couldn't find a way not to break the current behavior given the current implementation.

[2022-04-04 11:43] pohly commented on #212
That's the key takeaway: you want a new mode of operation, one which currently isn't supported. That's fair.

But as with any other feature request the question then becomes whether that feature is useful enough to enough users to justify extra complexity or (if that turns out to be necessary) breaking other users. The bar for the latter is *very* high.

[2022-04-04 12:10] nyejon commented on #212
Can one add an option in addition to the existing ones, which provides the expected functionality, while deprecating the current way of doing it?

Keep the flags independent of each other, logtostderr, logtofiles, stderrthreshold, logtofilesthreshold.

[2022-04-04 12:15] pohly commented on #212
A new `-always-apply-stderrthreshold` boolean with default `false` could be added that changes the traditional behavior of "filter stderr only when writing to file" to "filter stderr in all cases".

Just to be crystal clear: the goal is to write only errors and warnings to stderr and completely suppress all info log entries?

[2022-04-04 12:17] pohly commented on #212
I'm not sure about deprecation. It implies that users must take action and that we then eventually really will change the code. I for one don't have the motivation for that and dealing with upset users.

[2022-04-06 07:13] pohly commented on #318
/assign

[2022-04-08 15:33] pohly commented on #274
I think the revised logcheck is clearer about this.

/close

[2022-04-08 15:37] pohly commented on #239
Support for contextual logging as I described it in the KEP (logger is part of the context, not "logger uses context") has been implemented in klog and Kubernetes 1.24. I consider that the solution for this issue.

/close

[2022-04-08 15:37] #239 closed

[2022-04-13 11:05] santhosh12992 opened #321 "Need some pointers for using klog in a specific way"
Hi,

I am using cobra app along with klog and exporting the logs using the `log_file` args. There is a specific use case for me along with generating the log_file.

Along with the entire log_file generation, we need to create a separate log file which will have a subset of the `log_file` say, I need to create a extra log file to log the particular function's klog.Info logs. Is it possible to do th

[2022-04-14 05:50] pohly commented on #321
This isn't supported by klog, and it seems to specific to your use case to implement it in klog.

Can you use `SetOutput` with a custom `io.Writer` that writes both to `log_file` and optionally into a separate file?

[2022-05-07 18:18] pchan commented on #316
I modified the BacktraceAll API signature to reflect the fact that it uses a different mechamism. Also the skip/size will not apply to it.

[code]

[2022-05-08 10:25] pohly commented on #316
Now `BacktraceAll(false)` is identical to `Backtrace()`, right? I find this "more than one way of doing things" unnecessarily complex and prefer to have one function which gets parameterized. That it does different things under the hood is fine and not a reason to have different APIs where the return type is the same.

[2022-05-09 07:50] pohly commented on #286
/remove-lifecycle stale

[2022-05-09 09:40] pchan commented on #316
One of the reasons why I chose this API setup is because "All" is incompatible with skip and size. So we now need to educate the users to not use "All" in conjunction with skip/size, define the behavior if they do so and implement validation if such a combination is used. The following should raise an error:

[code]
I found it cleaner to communciate the difference to the user by virtue of the API

[2022-05-09 10:57] pohly commented on #316
We can simply define that skip/size don't have an effect when combined with All.

It's not just that. `BacktraceAll` doesn't support any additional options, should we ever find a need for them. We would have to add `BacktraceAllWithOptions`.

I still prefer a single, extensible API function.

[2022-05-09 12:53] pchan commented on #316
Do we need to issue a warning to the user that skip/size is ignored ? Maybe mention that in the head of the log message.

Sure, I will make it a single API.

[2022-05-12 22:03] #169 closed

[2022-05-30 13:09] pohly commented on #275
/remove-lifecycle stale
/lifecycle frozen

[2022-06-09 14:16] pohly commented on #321
/close

Due to lack of feedback.

[2022-06-09 14:16] #321 closed

[2022-06-09 14:19] pohly commented on #87
/close

I consider this resolved, please reopen if it isn't.

[2022-06-09 16:48] pohly commented on #203
We decided against supporting this because there is no good way to add vmodule support on top of zap (see my attempt in https://github.com/go-logr/zapr/pull/44). It's also not clear how many people need JSON output at the same time as vmodule-based filtering.

/close

[2022-06-09 16:48] #203 closed

[2022-06-10 06:56] pohly commented on #286
Resolved by PR #324

/close

[2022-06-10 06:57] #286 closed

[2022-06-10 11:19] pohly commented on #317
/assign

[2022-06-14 18:51] #312 closed

[2022-06-18 18:41] harshanarayana opened #331 "`KVListFormat` shadow's the Key if It is not a valid string"
/kind bug

**What steps did you take and what happened:**
While trying to take a stab at #275 I noticed that there is a lingering issue in the `KVListFormat` function in terms of how it processes the keys

https://github.com/kubernetes/klog/blob/9c48b7d0ba16c13eb24c2311f591a69175f5cb86/internal/serialize/keyvalues.go#L112-L118

In case if the `key` passed to the `KVListFormat` is not of string typ

[2022-06-18 19:05] harshanarayana commented on #331
/assign

[2022-06-18 20:28] #331 closed

[2022-06-19 17:25] harshanarayana commented on #275
/assign

[2022-06-19 17:29] harshanarayana commented on #275
@pohly  I was adding a few test cases to the `output.go` as suggested in the description of this issue and add some additional thing to benchmarking. But `zapr` has a different way of handling non string keys in the `KVList`.

https://github.com/go-logr/zapr/blob/df10f4788c061a53564cebafc055fd9ad3f3255e/zapr.go#L156-L162

[code]

I was thinking of adding a new attribute called `NonStringKeysSuppor

[2022-06-20 07:18] pohly commented on #275
Not sure where this use comment is now, but it seems relevant, so let me quote and reply:

 the KVList.: `DPanic("non-string key argument passed to logging, ignoring all later arguments", zapIt("invalid
 key", key)`

 So it panics instead of continuing with the tests?

 Skipping such tests is one way of avoiding this, but ultimately we want to test also such behavior. Perhaps the logger invocation

[2022-06-20 16:54] harshanarayana commented on #275
@pohly I was adding that comment from my phone. Seems like I deleted it by mistake. Thanks for getting back to me.

No it does not. It causes a log entry with `"level":"dpanic"` to show up. Part of how the `zap` handles things in development logger mode.

I started adding a few tests and there are considerable difference in how the `zapr` handles the log in comparison with `klog`. Will open a PR w

[2022-06-21 23:47] #317 closed

[2022-06-22 06:54] pohly commented on #316
/close

Resolved by:
- https://github.com/go-logr/lib/blob/main/dbg/backtrace.go
- PR https://github.com/kubernetes/klog/pull/328

[2022-06-22 06:54] #316 closed

[2022-06-22 13:33] #275 closed

[2022-06-22 19:44] harshanarayana opened #334 "Performance Improvement of `klog`"
/kind feature

**Describe the solution you'd like**
I was running through the `pprof` output of the `klog` and noticed a few things that can be optimized better for performance.

[code]

The above patch seeminly makes the performance a litter better based on the benchmarking. Is this worth exploring further?

**Anything else you would like to add:**
This is purely experimental.

[2022-06-22 19:44] harshanarayana commented on #334
[code]

[2022-06-22 19:46] harshanarayana commented on #334
cc @pohly @dims Any suggestions on this ?

[2022-06-23 08:20] harshanarayana commented on #334
This comes at the cost of below.

[code]

[2022-06-23 09:30] pohly commented on #334
This is worth exploring further. Can you run the benchmark more often, say with `-count=5` and compare again to see how stable the results are?

[2022-06-23 10:29] harshanarayana commented on #334
[code]

Largely the current behavior holds true.

[2022-06-23 10:30] harshanarayana commented on #334
[code]
Some outliers I need to look further into.

[2022-06-23 10:47] pohly opened #335 "graduate ktesting to non-EXPERIMENTAL"
/kind feature

**Describe the solution you'd like**

The API under ktesting is marked as EXPERIMENTAL. We should remove those remarks and commit to a stable API once we think that it is ready.

**Anything else you would like to add:**

Usage of that new code is starting in Kubernetes 1.25, for example https://github.com/kubernetes/kubernetes/pull/110504

[2022-06-23 14:25] harshanarayana commented on #334
Yup. Will do that and have a PR with the updated benchmarking in a day or so. Then we can see how this performs.

[2022-06-28 15:09] fire833 opened #336 "Allow klog configuration from somewhere other than flag"
/kind feature

**Describe the solution you'd like**
Currently, the main way that you can configure klog is through the registering of flags with the standard flag package. This is useful for most cases, but it would be useful to provide another configuration interface. My idea would be to provide something like `InitWithValues(init *klog.Configuration)` method where the config struct provides the

[2022-06-28 23:15] fire833 commented on #336
I am thinking it would just involve adding a public method that updates the value of settings.verbosity, probably just by calling Level.set(<insert level here>). I am kind of new to k8s API compliance. Would a simple addition of a public API cause problems, even if no other methods are touched?

[2022-06-29 06:46] pohly commented on #336
We would be bound to support that API as-is forever (well, within klog/v2, but we don't want to switch to a /v3). The API therefore becomes technical debt.

[2022-06-29 15:13] fire833 commented on #336
Ah understood.

[2022-06-30 17:17] MoonCactus opened #338 "FR: show today overall times grouped by tags"
Is there a way to show the time spent today grouped by tags ?
I wish the default would also include the one that might still be open, or that queries allow `--now` more systematically.

Syntactically it might be something like this:
[code]

Or, arguably less sexy:
[code]

The reciprocal might be to add `--tags` to the `today` command, but it is weird to me:
[code]

BTW: this tool is terrific, than

[2022-06-30 18:28] pohly commented on #338
I think you are talking about some other tool. k8s.io/klog is a logging library for Kubernetes, not a command line tool.

[2022-07-01 16:32] MoonCactus commented on #338
Oops right, sorry it's an homonym project :)

[2022-07-04 11:52] pierluigilenoci commented on #212
This is still an issue

[2022-07-05 18:49] zostay commented on #336
I understand the reluctance to make this change, but the lack of configurability creates situations that are very difficult to deal with.

For example, I have an application that is dependent upon code in `k8s.io/client-go/tools`, which uses klog/v2 to output logs. Something has gone wrong and I would like to be able to bump the v-level up to trace what's going on in the logs. However, doing so wi

[2022-07-07 10:22] pohly commented on #236
We have that now, so let's assume that this is indeed resolved.

[2022-08-01 18:13] pohly opened #343 "logr.Marshaler: does not handle non-string results"
/kind bug

**What steps did you take and what happened:**

I wrote a MarshalLog implementation which returns a slice. klog called the function, but then logged the original value instead of the one returned by MarshaLog.

**What did you expect to happen:**

https://github.com/kubernetes/klog/blob/0990e81f1a8f011181187da59ef32356bb836330/internal/serialize/keyvalues.go#L148 should log `value`, not

[2022-08-03 12:03] pierluigilenoci commented on #212
/remove-lifecycle rotten

[2022-08-03 12:47] harshanarayana commented on #343
/assign

[2022-08-04 11:37] #343 closed

[2022-08-06 11:22] #236 closed

[2022-08-13 21:21] SQLJames opened #346 "How to set verbosity and calldepth for a logger"
Good afternoon, I am working on building a logging interface for one of my CLI tools. When trying to build this, I would need to change the verbosity level and the call depth.
My Log functions are taking advantage of the Verbosity levels behind the abstraction, E.G.
[code]
However, because of this, I need to use the klog.InfoSDepth() function which allows me to change the depth of the log so it ju

[2022-08-15 06:07] pohly commented on #346
Can you elaborate what you mean with "doesn't seem to be possible"? That combination exists.

Indeed, that will lead to klog calling itself, which either deadlocks or loops infinitely (probably the former).

[2022-08-15 14:25] SQLJames commented on #346
Actually it seems like I was using an older version, I am not fully sure how that happened considering it is a new project. It does work now that I am using the latest version.

I am still having a hard time with initializing the logger. even without the WithCallDepth option it hangs on writing out the infoSDepth or Info
In a new file I am just calling this to test it.
[code]

[2022-08-15 14:42] pohly commented on #346
Just don't do that. You are telling klog to write to a logger which writes to klog, which writes to the logger, which ....

[2022-08-15 17:24] SQLJames commented on #346
Ah you were saying it wasn't the `.WithCallDepth(1))` option but instead setting the `klog.New()` option inside of the set logger.
Sorry there are alot of references to logger in this package, I do have it figured out now.

[code]

[2022-08-15 17:25] #346 closed

[2022-08-18 10:37] elegantm opened #347 "add set log level function"
/kind feature
**log level output**

set log level must be useful  when debug a online program

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
  ### zap:
  https://pkg.go.dev/go.uber.org/zap#example-AtomicLevel-Config
`	cfg.Level.SetLevel(zap.ErrorLevel)`

###  logrus
 https://github.com/sirupsen/logrus
`    log.SetLevel(log.WarnLevel)
`

**Anythi

[2022-08-18 13:34] pohly commented on #347
Is this perhaps a duplictate of https://github.com/kubernetes/klog/issues/336?

[2022-08-19 08:28] elegantm commented on #347
yeah, the same feature issue

[2022-08-19 08:56] pohly commented on #347
/close

Duplicate of #336.

[2022-08-19 08:56] #347 closed

[2022-08-22 13:16] pohly commented on #336
Here is one potential way forward:
- export string constants with the name of all command line flags: those are part of the API already, we would just document them in a way that apidiff would also pick up any future changes (which has some value by itself, although it is unlikely that we'll break this)
- create a "config" submodule (i.e. a directory with its own `go.mod` file): this would need to

[2022-08-22 13:35] pohly commented on #95
The only places where klog calls `os.Exit` is in a `klog.Fatal` call and in an explicit `FlushAndExit`. Both are documented as terminating the program, so IMHO this is okay. Changing that behavior would imply an API break.

Or did I miss something?

Let's unfreeze the lifecycle and if no-one brings up any new arguments we can let the bot close this issue if we don't agree to do it manually sooner.

[2022-08-22 13:36] pohly commented on #95
/remove-lifecycle frozen

[2022-08-22 13:52] dims commented on #336
@pohly works for me!

[2022-08-24 18:40] tallclair commented on #212
/lifecycle frozen

[2022-08-26 09:42] pierluigilenoci commented on #212
/remove-lifecycle frozen

[2022-08-26 09:42] pierluigilenoci commented on #212
@tallclair this is still a huge bug that nobody want to face 😉

[2022-09-07 09:17] pohly opened #348 "InitFlags data race"
/kind bug

**What steps did you take and what happened:**

When I wrote some (unrelated) unit test that calls `klog.InitFlags` with a new flag set while some other goroutine was calling klog for logging, `go test -race` reported a data race:

[code]

**What did you expect to happen:**

No data race.

**Anything else you would like to add:**

I believe the reason is that calls like `flagset.BoolVar

[2022-09-07 11:14] aojea commented on #348
https://github.com/kubernetes/klog/blob/02fe3234c86b222bc85406122bd0d11acbe5363a/klog.go#L418-L438

shouldn't that function be locked?
[code]

[2022-09-07 12:57] pohly commented on #348
That wouldn't work, some flags are implemented so that use atomic read/writes. I have a different solution, but GitHub currently doesn't let me create the PR.

[2022-09-07 12:57] pohly commented on #348
/assign

[2022-09-07 13:00] pohly commented on #348
See https://github.com/kubernetes/klog/pull/349

[2022-09-07 17:20] tallclair commented on #212
/lifecycle frozen

@pierluigilenoci lifecycle frozen prevents the bug from being auto-closed. It doesn't mean we're stopping work on it. It's an acknowledgement that this is a real bug that should be fixed and not ignored...

[2022-09-07 18:55] pohly commented on #212
@pierluigilenoci has already started working on this and - as far as I know - intends to finish that work. I'm not aware of others who care enough about it to address this issue.

[2022-09-07 18:57] pohly commented on #212
Also note that I clarified the current behavior in https://github.com/kubernetes/klog/pull/319, so there should be no misunderstanding anymore about what the current implementation does.

[2022-09-07 19:44] pohly commented on #212
/kind feature

It works as originally implemented and (now) as documented, it just doesn't do something that would be useful to some users (filter by severity when writing to stderr).

[2022-09-07 19:44] pohly commented on #212
/remove-kind bug

[2022-09-08 12:13] #348 closed

[2022-09-15 08:27] killianmuldoon opened #350 "Add logging reference format with Group, Version, Kind, Namespace and Name"
It would be useful to have  klog reference format that includes all of the information about a resource required to identify it - i.e. Group, Version, Kind, Namespace and Name.

Would it be possible to add a type that holds all of this information (or to add fields to an existing type e.g. KRef)?

This ask comes from [usage of klog in Cluster API](https://github.com/kubernetes-sigs/cluster-api/iss

[2022-09-15 09:10] pohly commented on #350
This might be a reasonable addition. What API did you have in mind for creating such a struct?

[2022-09-15 10:42] pohly commented on #350
We cannot change `KRef`, changing its behavior would be unexpected for some users. `KResourceRef` sounds good to me.

If you want to give it a try, feel free to prepare a PR. However, no promise that it then will really get merged.

[2022-09-19 15:35] pohly opened #352 "text output: formatting of slice of pointers"
/kind feature

**Describe the solution you'd like**

When the value in a key/value pair is a slice like `[]*v1.Pod`, klog currently formats the slice with the fallback `fmt.Sprintf("%+v", ...)` which then results in a list of pointer *values* (`[0xc000dce900]`) which is often not useful. I would find it more useful to get a dump of the objects that are pointed to.

There are probably other cases l

[2022-09-19 15:36] pohly commented on #352
For backward compatibility we probably would have to print the pointer in addition to the object, because some users might expect that.

[2022-09-21 13:07] pohly commented on #335
/remove-lifecycle stale
/lifecycle frozen

[2022-09-21 14:45] pohly commented on #334
/remove-lifecycle stale

ping @harshanarayana

[2022-09-21 16:34] harshanarayana commented on #334
@pohly This got on a bit of a back-burner because of a few other items I was taking care of. Will get an update on this soon in this space.

[2022-11-01 09:12] saschagrunert opened #356 "OpenTelemetry support"
/kind feature

**Describe the solution you'd like**

Logs are helpful data attached to OpenTelemetry traces. klog could support that by adding the log messages to the current tracing span if it exist.

**Anything else you would like to add:**

There is a k/k KEP existing for the kubelet tracing part: https://github.com/kubernetes/enhancements/issues/2831

Refers to https://github.com/kubernetes/ku

[2022-11-01 10:42] pohly commented on #356
Is this meant to be used together with JSON or text output or instead of it?

[2022-11-01 11:06] saschagrunert commented on #356
I'd assume that it works in parallel to them. For example if tracing is enabled, then we pass the text message to the tracer side by side to the other output(s).

[2022-11-01 12:33] pohly commented on #356
Makes sense, in particular when the tracer doesn't record all log output.

An implementation of this will depend on [contextual logging](https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/3077-contextual-logging) because non-contextual calls (`klog.Info`, `klog.InfoS`) have no way of determining the call context and thus the current tracing span.

But contextual loggin

[2022-11-01 13:37] saschagrunert commented on #356
Depends how we make it usable. If we have a [global tracer set](https://pkg.go.dev/go.opentelemetry.io/otel#GetTracerProvider), then we may create spans from that as well.

[2022-11-01 13:45] dashpole commented on #356
An alternative, which I would prefer, would be to attach the trace ID and span ID to logs as part of the structured output (as [trace_id and span_id](https://github.com/open-telemetry/opentelemetry-specification/tree/main/specification/logs#trace-context-in-legacy-formats)), which can then be used to link to/from traces.

You still need a context if you want to link to other spans.  The global tra

[2022-11-01 19:12] pohly commented on #356
So no logging through OpenTelemetry?

That already works. The code that adds trace and span ID then would have to look like this:
[code]

[2022-11-01 19:34] dashpole commented on #356
OpenTelemetry is working on a set of logging libraries, but they are still a ways off (https://opentelemetry.io/docs/instrumentation/go/#status-and-releases).  We can discuss what the benefits would be of adopting it, but I'm not sure what the benefits would be.

I'm just saying we shouldn't add all logs as span events.  Logging is its own thing, and has well-defined ways to correlate with tracing

[2022-11-01 21:15] pohly commented on #356
There are two ways of doing this:
- teach `klog.FromContext` about trace and span IDs
- teach the code which adds these IDs how to add a logger with the values to the context (my proposal above)

The problems with extending `klog.FromContext` are:
- Some code might use `logr.FromContext` directly because it has no klog dependency. Then it will not log the IDs.
- A solution that works for arbitrary

[2022-11-01 21:17] pohly commented on #356
We also have to consider whether it is acceptable to make klog depend on OpenTelemetry. If any code in klog is meant to retrieve these IDs, it will have to have such a dependency, right?

[2022-11-02 07:03] pohly commented on #356
It should be possible to just configure klog to extract certain values by giving it the keys. Then it won't depend on OpenTelemetry. It may even be possible to move this all into go-logr and do it so that it works for all logger backends - let me try that out...

[2022-11-02 14:24] dashpole commented on #356
As a note, otel's interfaces, including context, are kept separate from the rest of OTel's codebase.  As a result, it has [nearly no dependencies](https://github.com/open-telemetry/opentelemetry-go/blob/main/trace/go.mod).  But it is still a consideration.

[2022-11-03 19:16] tallclair opened #357 "[RFC] Structured Error type"
/kind feature

**Describe the solution you'd like**
Sometimes I want to be able to add structured logging key-value pairs where an error is generated, but it isn't logged until way up the stack. It would be nice if structured logging information could be attached to the error itself, and logged with the error.

Rough proposal:
[code]

**Open Question:** should the message returned by `structuredEr

[2022-11-10 18:45] sallyom commented on #356
I agree adding span id, trace id to logs will be useful.
This is the example i've seen.
[code]

[2022-11-15 20:21] thockin commented on #357
logr supports types that define a `MarshalLog()` method, but I don't know if that is plumbed all the way to klog, or which modes support it properly.

[2022-11-18 13:21] pohly commented on #356
I think the best solution is with this changed in logr: https://github.com/go-logr/logr/pull/158

Once that is merged, https://github.com/kubernetes/klog/pull/359 can also be merged.

[2022-11-18 13:49] pohly commented on #357
The klog text output currently checks for `error` first and then logs the message from `Error`. Changing that is not hard:
[code]

However, that then only has the effect that the structured error gets formatted with `fmt.Sprintf("%+v")`, like any other struct:
[code]
The extra information is there, but it's not getting formatted well. Improving that would be more complicated.

zapr also uses `Erro

[2022-11-18 22:18] thockin commented on #357
It's a good point that perhaps the `err` argument should be treated with `Error()`.  Having it be string in some cases and struct in others may confuse systems.

[2022-11-19 10:21] pohly commented on #357
Perhaps we can log both with separate keys:
- "err": `<Error()>`
- "errObject": `<MarshalLog>`

To achieve what @tallclair originally asked for (providing additional key/value pairs) we could add a new type to logr:
[code]

If, and only if, `MarshalLog` returns an object of that type, then a logger that supports this could ignore the key that normally would be used for the object (in the example a

[2022-11-19 19:05] thockin commented on #357
funcr has `PseudoStruct` which is similar to what you are describing.
I did it in funcr because it felt kind of dirty to try to push that
into every sink.

Maybe a construction-time flag to klog/etc like `AlsoErrorMarshalLog`
meaning, to log both err=string and errRaw=? when er supports
MarshalLog?

[2022-11-19 20:40] pohly commented on #357
Not every sink has to support it. If they don't, they'll just log the `KeyValuePairs` like they normally do (map or list, depending on what we choose), which still exposes the same information.

meaning, to log both err=string and errRaw=? when er supports
MarshalLog?

Are there situations where we would want such a `AlsoErrorMarshalLog` to be false?

[2022-11-21 14:44] dashpole commented on #356
As a note, those won't work well with OpenTelemetry.  The context keys for span context and for baggage are not exported, so we would need to support accessor functions or something similar to be able to make use of context-based functionality

[2022-11-21 16:56] dashpole commented on #356
I think it was a general discussion.

It might've been a reference to how OpenCensus works, which is that all attributes ("tags" in OC) on spans/metrics are from context.  [Example](https://github.com/census-instrumentation/opencensus-go/blob/master/examples/quickstart/stats.go#L138).

OpenTelemetry's [SpanContext](https://github.com/open-telemetry/opentelemetry-go/blob/c4333a96875d520325fbcddc80c

[2022-11-21 20:53] pohly commented on #356
So if we log span ID and trace ID, what should that look like?
[code]

Or
[code]

[2022-11-21 21:05] dashpole commented on #356
It should look like:
[code]

See https://github.com/open-telemetry/opentelemetry-specification/tree/a87fb8c5a60f942d08c67c1582034eb8b4322009/specification/logs#trace-context-in-legacy-formats

[2022-11-21 21:07] thockin commented on #356
I want to be sensitive to performance , too - having to call an arbitrary number of functions once is not a big deal, but doing that on every log call seems unfortunate, unless we're clear about how we can cache those.

[2022-11-22 09:06] pohly commented on #356
Logging as `"trace_id": "xyz", "span_id": "abc` in combination with a single function for lookup would be a good fit for something like `PseudoStruct` as discussed over in #357. We could do two functions, but I suspect that this is going to be less efficient and more complicated (need to supply the key names separately, multiple calls instead of one).

Calling `ctx.Value` through some function is

[2022-11-23 12:07] pohly commented on #357
I implemented logging a "structured error" as "err" + "errDetails":
- https://github.com/go-logr/zapr/pull/56
- https://github.com/go-logr/logr/pull/158

This is work in progress (lacks some unit tests, depends on releases logr with those changes first), but should be complete enough to discuss whether this makes sense conceptually.

The name of "errDetails" is configurable in zapr. Conceptually t

[2022-11-24 16:11] pohly opened #360 "simplified, self-contained Logger"
/kind feature

**Describe the solution you'd like**

In Kubernetes, we currently use the traditional klog output handling code, with all the cruft that has accumulated there. Since the deprecation of klog flags, none of that code does anything anymore, but we also cannot remove it because it is part of klog/v2.

What would be useful for Kubernetes would be a klogr Logger which:
- has its own, simp

[2022-11-24 20:40] pohly commented on #360
/assign

A first implementation is showing signs of live...

[2022-11-25 08:13] pohly commented on #360
Actually, there is already k8s.io/klog/v2/textlogger. I just reimplemented it in a slightly different (and better) way... :sweat_smile:

I'll update it instead of adding a new logger.